tei_ms_repertorium.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
    xmlns:re="http://www.ilit.bas.bg/repertorium/ns/3.0"
    xmlns:rng="http://relaxng.org/ns/structure/1.0" xml:lang="en" n="repertorium">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Repertorium MS model based on TEI P5 (Version 3.2.0. Last updated on 10th
                    July 2017, revision 0fcf651)</title>
                <author xml:id="atb">Andrej Bojadžiev</author>
                <author xml:id="djb">David J. Birnbaum</author>
            </titleStmt>
            <editionStmt>
                <!-- Previous edition: 3.0 Last updated 23.04.2013 -->
                <edition>3.1 Last updated 2017-10-18</edition>
            </editionStmt>
            <publicationStmt>
                <authority>David J. Birnbaum (<email>djbpitt@gmail.com</email>) on behalf of the
                    Repertorium Project (<ptr target="http://repertorium.obdurodon.org"
                    />)</authority>
                <date when="2017-10-18">2017-10-20</date>
                <availability status="free">
                    <p>
                        <hi>Copyright © 2012-2017 TEI Consortium and Repertorium Project</hi>
                    </p>
                    <p>This template file is freely available and you are hereby authorised to copy,
                        modify, and redistribute it in any way without further reference or
                        permissions.</p>
                    <p>When making such modifications, you are strongly recommended to change the
                        present text to include an accurate statement of the licencing conditions
                        applicable to your modified text.</p>
                </availability>
            </publicationStmt>

            <notesStmt>
                <note type="ns">http://www.ilit.bas.bg/repertorium/ns/3.0</note>
            </notesStmt>

            <sourceDesc>
                <p>Version 3.0 was written from scratch by Andrej Bojadžiev,
                        <email>aboy@uni-sofia.bg</email>. The current version 3.1 was revised
                    2017-10-18 by David J. Birnbaum (<email>djbpitt@gmail.com</email>).</p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change who="#atb #djb" when="2017-10-20">Minor general edits. Added documentation for
                Repertorium customizations.</change>
            <change who="#djb" when="2017-10-18">Minor general edits. Updated version number from
                3.0 to 3.1. Major changes are: <list>
                    <item>Exclude <gi>xenoData</gi>, the presence of which raises mysterious
                        attribute type errors, apparently because of the introduction of a new
                        namespace into the schema.</item>
                    <item>For unclear reasons, inclusion of <att>prefix</att> attribute when
                        declaring new elements in Repertorium namespace prevents their inclusion.
                        For that reason, the <att>prefix</att> attribute has been removed.</item>
                    <item>New Repertorium elements moved into Repertorium namespace, where they
                        should have been initially.</item>
                    <item><gi>keywords</gi> must have <att>scheme</att> attribute with value of
                            <val>Repertorium</val></item>
                    <item>Added <att>script</att> attribute to <gi>re:scribeLang</gi> and
                            <gi>re:scriptDesc</gi></item>
                    <item>Previous bibliographic pointer references were expressed as <gi>ref</gi>
                        elements with <att>type</att> values of <val>bibl</val> but without
                            <gi>bibl</gi> wrappers. That is not permitted by P5, and the new ODD
                        enforces the TEI requirement that such <gi>ref</gi> elements be wrapped in
                            <gi>bibl</gi> tags.</item>
                    <item>Allow <gi>bibl</gi> as child of <gi>scribe</gi>.</item>
                    <item>Previous versions of the Repertorium schema permitted a <att>type</att>
                        attribute on the <gi>teiHeader</gi> with a value of <val>text</val>. This is
                        not permitted by P5, and the new ODD enforces that TEI requirement.</item>
                </list></change>
            <change who="#atb" when="2013-04-23"> Changed the content of the element scribeDesc.
                Changed palaeoCharact to scriptDesc and palaeoNote to scriptNote to be compatible
                with TEI 5 version 2.3.0. Changed the content of collation element to allow a better
                choice between unstructured and stuctured description. Remove attribute style from
                msContents and msItemStruct. Now it is a global TEI attribute.</change>
            <change who="#atb" when="2012-02-07"> Changed the introduction to this file, header
                information, added div elements. </change>
            <change who="#atb" when="2012-02-04"> Changed the content of elements decoDesc and
                decoNote </change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div>
                <head>Repertorium manuscript description model based on TEI</head>
                <p>This TEI customization describes a schema that includes several of the TEI (P5)
                    modules and is especially designed to be used for manuscript description. This
                    customization changes declarations for many of the TEI elements that are
                    intended for manuscript description. In doing this a special emphasis is put on
                    the tradition for description of Slavic manuscripts. However, this model could
                    be used in the description of other European medieval manuscript traditions. The
                    TEI modules in use are: <list>
                        <item>analysis - optional</item>
                        <item>certainty - optional</item>
                        <item>core - required</item>
                        <item>figures - optional</item>
                        <item>header - required</item>
                        <item>msdescription - optional</item>
                        <item>namesdates - optional</item>
                        <item>tei - required</item>
                        <item>textstructure - required</item>
                        <item>transcr - optional</item>
                    </list></p>
                <p>From the preceding modules we exclude the following TEI elements: <list>
                        <item><gi>alt</gi></item>
                        <item><gi>altGrp</gi></item>
                        <item><gi>appInfo</gi></item>
                        <item><gi>application</gi></item>
                        <item><gi>argument</gi></item>
                        <item><gi>biblFull</gi></item>
                        <item><gi>byline</gi></item>
                        <item><gi>climate</gi></item>
                        <item><gi>closer</gi></item>
                        <item><gi>dateline</gi></item>
                        <item><gi>div1</gi></item>
                        <item><gi>div2</gi></item>
                        <item><gi>div3</gi></item>
                        <item><gi>div4</gi></item>
                        <item><gi>div5</gi></item>
                        <item><gi>div6</gi></item>
                        <item><gi>div7</gi></item>
                        <item><gi>handDesc</gi></item>
                        <item><gi>join</gi></item>
                        <item><gi>joinGrp</gi></item>
                        <item><gi>link</gi></item>
                        <item><gi>linkGrp</gi></item>
                        <item><gi>msItem</gi></item>
                        <item><gi>opener</gi></item>
                        <item><gi>postBox</gi></item>
                        <item><gi>postCode</gi></item>
                        <item><gi>postscript</gi></item>
                        <item><gi>salute</gi></item>
                        <item><gi>signed</gi></item>
                        <item><gi>teiCorpus</gi></item>
                        <item><gi>terrain</gi></item>
                        <item><gi>typeDesc</gi></item>
                        <item><gi>typeNote</gi></item>
                        <item><gi>xenoData</gi></item>
                    </list>
                </p>
                <p>The following TEI elements are modified: <list>
                        <item><gi>additions</gi></item>
                        <item><gi>altIdentifier</gi></item>
                        <item><gi>binding</gi></item>
                        <item><gi>collation</gi></item>
                        <item><gi>colophon</gi></item>
                        <item><gi>history</gi></item>
                        <item><gi>keywords</gi></item>
                        <item><gi>layout</gi></item>
                        <item><gi>msContents</gi></item>
                        <item><gi>msDesc</gi></item>
                        <item><gi>msIdentifier</gi></item>
                        <item><gi>msItemStruct</gi></item>
                        <item><gi>msPart</gi></item>
                        <item><gi>musicNotation</gi></item>
                        <item><gi>physDesc</gi></item>
                        <item><gi>scriptDesc</gi></item>
                        <item><gi>scriptNote</gi></item>
                        <item><gi>supportDesc</gi></item>
                        <item><gi>watermark</gi></item>
                    </list></p>
                <p>The following new elements are declared in the Repertorium namespace: <list>
                        <item><gi>bindingNote</gi></item>
                        <item><gi>countermark</gi></item>
                        <item><gi>crypto</gi></item>
                        <item><gi>grammar</gi></item>
                        <item><gi>gregoryRule</gi></item>
                        <item><gi>ink</gi></item>
                        <item><gi>lexis</gi></item>
                        <item><gi>motif</gi></item>
                        <item><gi>orthNote</gi></item>
                        <item><gi>orthography</gi></item>
                        <item><gi>pagination</gi></item>
                        <item><gi>pricking</gi></item>
                        <item><gi>quire</gi></item>
                        <item><gi>ruling</gi></item>
                        <item><gi>sampleText</gi></item>
                        <item><gi>scribe</gi></item>
                        <item><gi>scribeDesc</gi></item>
                        <item><gi>scribeLang</gi></item>
                    </list></p>
            </div>

            <div>
                <head>Schema, modules, class and element specifications</head>

                <schemaSpec ident="tei_ms_repertorium" start="TEI msDesc">
                    <!-- required modules -->
                    <moduleRef key="header" except="appInfo application biblFull xenoData"/>
                    <moduleRef key="linking" except="alt altGrp join joinGrp link linkGrp"/>
                    <moduleRef key="core" except="postBox postCode teiCorpus"/>
                    <moduleRef key="tei"/>
                    <moduleRef key="textstructure"
                        except="argument byline closer dateline div1 div2 div3 div4 div5 div6 div7 opener postscript salute signed"/>
                    <!-- optional modules -->
                    <moduleRef key="analysis"/>
                    <moduleRef key="certainty"/>
                    <moduleRef key="figures"/>
                    <moduleRef key="msdescription" except="handDesc msItem typeNote typeDesc"/>
                    <moduleRef key="namesdates" except="climate terrain"/>
                    <moduleRef key="transcr"/>

                    <classSpec ident="model.physDescPart" type="model" mode="delete"
                        module="msdescription"/>

                    <elementSpec ident="additions" module="msdescription" mode="change">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="add"/>
                            <memberOf key="att.datable" mode="add"/>
                        </classes>
                        <exemplum>
                            <p>This is the original TEI example.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:space="preserve"><additions>
 <p>There are several marginalia in this manuscript. Some consist of
   single characters and others are figurative. On 8v is to be found a drawing of
   a mans head wearing a hat. At times sentences occurs: On 5v:
 <q xml:lang="is">Her er skrif andres isslendin</q>,
   on 19r: <q xml:lang="is">þeim go</q>,
   on 21r: <q xml:lang="is">amen med aund ok munn halla rei knar hofud summu all huad
     batar þad mælgi ok mal</q>,
   On 21v: some runic letters and the sentence <q xml:lang="la">aue maria gracia plena dominus</q>.</p>
</additions></egXML>
                        </exemplum>
                        <exemplum>
                            <p>The Repertorium adds attributes for type and dating, as in the
                                following example from AA308NBKM.xml:</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:space="preserve"><additions type="inscriptions">
    <locus>f. 131r</locus>
    <quote xml:lang="cu">вь лѣто зѯи҃ сиие лето бисть соуша велика не роди
        се<unclear>...</unclear>. бисть неволꙗ и зла. велика ѡ҃т҃
        тоурци</quote>
</additions></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="altIdentifier" module="msdescription" mode="change">
                        <content>
                            <rng:zeroOrMore>
                                <rng:ref name="msName"/>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.placeNamePart_sequenceOptional"/>
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="institution"/>
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="repository"/>
                                </rng:optional>
                                <rng:zeroOrMore>
                                    <rng:ref name="collection"/>
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="idno"/>
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="note"/>
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="altIdentifier"/>
                                </rng:optional>
                            </rng:zeroOrMore>
                        </content>
                        <exemplum>
                            <p>This is the original TEI example.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:space="preserve">
                                <altIdentifier>
 <settlement>San Marino</settlement>
 <repository>Huntington Library</repository>
 <idno>MS.El.26.C.9</idno>
</altIdentifier></egXML>
                        </exemplum>
                        <exemplum>
                            <p>The Repertorium adds msName element as first child of altIdentifier,
                                as in the following example from MDMarianus.xml:</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:space="preserve">
                                <altIdentifier select="171ff" xml:id="Grig6" type="partial">
                        <msName type="individual" xml:lang="en">Grigorovič Gospel Book</msName>
                        <msName type="individual" xml:lang="bg">Григоровичово четвероевангелие</msName>
                        <msName type="individual" xml:lang="ru">Четвероевангелие Григоровича</msName>
                        <msName type="individual" xml:lang="en">Athonite Gospel Book</msName>
                        <msName type="individual" xml:lang="bg" select="whole">Атонско четвероевангелие</msName>
                        <msName type="individual" xml:lang="ru" select="whole">Афонское четвероевангелие</msName>
                        <country>Russia</country>
                        <settlement>Moscow</settlement>
                        <repository>Russian State Library</repository>
                        <collection>В. Григорович</collection>
                        <idno type="shelfmark">6</idno>
                    </altIdentifier>
                            </egXML>
                        </exemplum>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples" xml:space="preserve">
                             ``<altIdentifier xml:id="NBKM500">
                                    <country>Bulgaria</country>
                                    <settlement>Sofia</settlement>
                                    <repository>SS Cyril and Methodius National Library </repository>
                                    <idno type="shelfmark">500</idno>
                                    <altIdentifier>
                                    <idno type="catalogue">500</idno>
                                      <note>
                                        <ref type="bibl" target="bib:Цонев1910">Цонев 1910: 35</ref>
                                       </note>
                                    </altIdentifier>
                                    <altIdentifier>
                                        <idno type="unioncatalogue">32</idno>
                                        <note>
                                            <ref type="bibl" target="bib:Христова1982">Христова и др. 1982: 30</ref>
                                        </note>
                                    </altIdentifier>
                        <altIdentifier type="former">
                            <idno type="shelfmark">184</idno>
                        </altIdentifier>
                    </altIdentifier>
                            </egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="binding" module="msdescription" mode="change">
                        <content>
                            <rng:oneOrMore>
                                <rng:choice>
                                    <rng:ref name="model.pLike"/>
                                    <rng:ref name="bindingNote"/>
                                    <rng:ref name="condition"/>
                                    <rng:ref name="decoNote"/>
                                </rng:choice>
                            </rng:oneOrMore>
                        </content>
                        <exemplum>
                            <p>TEI example:</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples">
                                <binding contemporary="true">
                                    <p>Contemporary blind stamped leather over wooden boards with
                                        evidence of a fore edge clasp closing to the back cover.</p>
                                </binding>
                            </egXML>
                        </exemplum>
                        <exemplum>
                            <p>Repertorium adds an element bindingNote as a child element of
                                binding: </p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples">
                                <binding>
                                    <p>New, leather and cardboard</p>
                                    <bindingNote type="cover">
                                        <locus>On the back side of the upper cover:</locus>
                                        <decoNote>
                                            <stamp>angels with circles.</stamp>
                                        </decoNote>
                                    </bindingNote>
                                </binding>
                            </egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="bindingNote" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <desc>The element allows structured description of binding characteristics
                            in addition to decoration and condition. These features may include:
                            cover, plates, headbands, edges, clasps, sewing techniques, or any notes
                            related to the binding.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                            <memberOf key="att.damaged"/>
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text/>
                                    <rng:ref name="model.phrase"/>
                                    <rng:ref name="decoNote"/>
                                    <rng:ref name="condition"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples">
                                <bindingDesc>
                                    <binding notBefore="1700" notAfter="1800" contemporary="false">
                                        <bindingNote type="boards">Boards covered with ornamented
                                            leather. </bindingNote>
                                        <bindingNote type="ornaments">The ornaments consist of
                                            florar motifs. </bindingNote>
                                        <bindingNote>
                                            <date>Probably the binding dates from the 18th
                                                century.</date>
                                        </bindingNote>
                                    </binding>
                                </bindingDesc>
                            </egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="collation" module="msdescription" mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="quire"/>
                                    </rng:zeroOrMore>
                                    <rng:optional>
                                        <rng:ref name="signatures"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="catchwords"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="gregoryRule"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="ruling"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="pricking"/>
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="colophon" mode="change">
                        <content>
                            <rng:optional>
                                <rng:ref name="model.pLike.front"/>
                            </rng:optional>
                            <rng:oneOrMore>
                                <rng:ref name="model.pLike"/>
                            </rng:oneOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="countermark" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>Called also counter watermark. A <gi>countermark</gi> has the same
                            content and attributes as the <gi>watermark</gi> element.</desc>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text/>
                                    <rng:ref name="model.phrase"/>
                                    <rng:ref name="motif"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><material>
                                    <watermark tracing="drawing"><motif type="basic"
                                        >Leo</motif>within <motif type="supplemental">circle</motif>
                                        surmounted by <motif type="secondary">quatrefoil</motif> and
                                        with <countermark>“AP”</countermark> similar to
                                            <ref>Nikolaev #125</ref> from the year <date cert="yes"
                                            >1585</date>.</watermark>
                                </material></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="crypto" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>Repertorium model: description of cryptographical system(s). The
                            element for the description of a cryptographic system in the Repertorium
                            model is called <gi>crypto</gi> and should be used in cases where
                            encrypted letters or passages of text occur. The additional attribute
                                <att>type</att> might identify the method, e.g., simple substitution
                            cipher.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.paraContent"/>
                        </content>
                        <exemplum>
                            <p>The <att>type</att> attribute specifies that the method is a simple
                                substitution cipher. The content of the element provides the
                                mapping.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><crypto
                                    type="simpleSubstitution">а = ѳ, в = и, г = з, д = ѕ, к = п, л =
                                    о, м = ѯ, р = ц, с = ѡ, т = ѱ, у = х. The other letters are used
                                    in their regular meanings, without
                                substitution.</crypto></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="grammar" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <classes mode="replace">
                            <memberOf key="att.global"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="gregoryRule" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <desc>Repertorium: Description of Gregory rule in the codices. The Gregory
                            rule is a description of the layout of the parchment in the codex. There
                            are two common abbreviations: <q>HS</q> for the hair (dark) side, and
                                <q>FS</q> for the flesh (light) side of the parchment. Therefore,
                            the content of this element is a sequence of HS and FS abbreviations.
                            The sign <q>|</q> separates pages, <q>–</q> separates folios, and
                                <q>=</q> signifies the middle of the quire.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"
                                    ><gregoryRule>HS|FS-FS|HS-HS|FS-FS|HS =
                                    HS|FS-FS|HS-HS|FSFS|HS</gregoryRule></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="history" module="msdescription" mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="origin"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="accMat"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="provenance"/>
                                    </rng:zeroOrMore>
                                    <rng:optional>
                                        <rng:ref name="acquisition"/>
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="ink" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>Description of ink(s). Information about the ink is presented usually
                            as a simple phrase like <q>brown dark ink for the basic text and red ink
                                for the headings and small initials</q>. In principle these
                            descriptions could be further developed to supply information about ink
                            composition, brightness, loss of color, etc.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.measurement"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><ink>Brown ink for the
                                    text and dark red for the initials</ink>
                            </egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="keywords" mode="change">
                        <attList>
                            <attDef ident="scheme" mode="change">
                                <desc>The <gi>keywords</gi> element must have a <att>scheme</att>
                                    attribute with a value of <val>Repertorium</val>,</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                                <valList type="closed">
                                    <valItem ident="Repertorium">
                                        <gloss>Keywords must be specified within the Repertorium
                                            scheme.</gloss>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="layout" module="msdescription" mode="change">
                        <classes mode="change">
                            <memberOf key="att.measurement" mode="add"/>
                        </classes>
                    </elementSpec>

                    <elementSpec ident="lexis" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <classes mode="replace">
                            <memberOf key="att.global"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="motif" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>The element <gi>motif</gi> is the most important part of the watermark
                            description because it provides access to a formal terminological
                            apparatus of watermark design. There are several ways to specify motif
                            information: <list>
                                <item>In the absence of reference books and watermark albums, simply
                                    as plain text</item>
                                <item>If a more complicated motif is present and the encoder would
                                    like to provide full compatibility with professional watermark
                                    databases, with the attribute <att>type</att></item>
                                <item>By <q>secondary</q> is meant designs above or below the basic
                                    motif. Frequently used motifs above the basic one include bird,
                                    cross, flower, monogram, monogram with a combination with
                                    figures (e.g., monogram <q>BA</q> and cross), ramrod, different
                                    star shapes, star and monogram, trefoil, etc. Frequently used
                                    motifs below the basic one include grapes, monogram, etc.</item>
                                <item>By <q>supplemental</q> is meant supplemental characteristics
                                    of the basic motif, e.g., in circle, in oval, in shield,
                                    etc.</item>
                            </list></desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text/>
                                    <rng:ref name="model.phrase"/>
                                    <rng:ref name="motif"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <exemplum>
                            <p>The following example represents the motif of <q>anchor in circle
                                    with 5-point star above</q>.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><motif type="basic"
                                    >anchor</motif>in <motif type="supplemental">circle</motif> with
                                    <motif type="secondary">star/5-point</motif> above.</egXML>
                        </exemplum>
                        <exemplum>
                            <p>The <gi>watermark</gi> example below includes three <gi>motif</gi>
                                child elements, identifying basic, supplemental, and secondary
                                features.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><watermark
                                    tracing="drawing"><motif type="basic">Leo</motif> within <motif
                                        type="supplemental">circle</motif> surmounted by <motif
                                        type="secondary">quatrefoil</motif> and with
                                        <countermark>“AP”</countermark>, similar to <ref>Nikolaev
                                        #125</ref> from the year <date cert="high"
                                    >1585</date>.</watermark></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="msContents" module="msdescription" mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:group>
                                        <rng:optional>
                                            <rng:ref name="summary"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="titlePage"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="title"/>
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                            <rng:ref name="author"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="respStmt"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="model.noteLike"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="filiation"/>
                                        </rng:zeroOrMore>
                                        <rng:optional>
                                            <rng:ref name="textLang"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="decoNote"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="sampleText"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="div"/>
                                        </rng:optional>
                                    </rng:group>
                                    <rng:zeroOrMore>
                                        <rng:ref name="msItemStruct"/>
                                    </rng:zeroOrMore>
                                </rng:group>
                            </rng:choice>
                        </content>
                        <attList>
                            <attDef ident="type">
                                <desc>describes the type of the text</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                                <valList type="closed">
                                    <valItem ident="original">
                                        <desc>the text is original</desc>
                                    </valItem>
                                    <valItem ident="compilation">
                                        <desc>the text is compiled from variuos sources</desc>
                                    </valItem>
                                    <valItem ident="translation">
                                        <desc>the text is translated</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="msDesc" module="msdescription" mode="change">
                        <content>
                            <rng:zeroOrMore>
                                <rng:ref name="model.headLike"/>
                            </rng:zeroOrMore>
                            <rng:ref name="msIdentifier"/>
                            <rng:choice>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:zeroOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="physDesc"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="scribeDesc"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="msContents"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="history"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="additional"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="msPart"/>
                                    </rng:zeroOrMore>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="msIdentifier" module="msdescription" mode="change">
                        <content>
                            <rng:zeroOrMore>
                                <rng:ref name="msName"/>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:ref name="p"/>
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.placeNamePart_sequenceOptional"/>
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="institution"/>
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="repository"/>
                                </rng:optional>
                                <rng:zeroOrMore>
                                    <rng:ref name="collection"/>
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="idno"/>
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="note"/>
                                </rng:optional>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:ref name="altIdentifier"/>
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="msItemStruct" module="msdescription" mode="change">
                        <content>
                            <rng:group>
                                <rng:choice>
                                    <rng:optional>
                                        <rng:ref name="locus"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="locusGrp"/>
                                    </rng:optional>
                                </rng:choice>
                                <rng:choice>
                                    <rng:oneOrMore>
                                        <rng:ref name="model.pLike"/>
                                    </rng:oneOrMore>
                                    <rng:group>
                                        <rng:zeroOrMore>
                                            <rng:ref name="title"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="author"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="respStmt"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="model.noteLike"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="filiation"/>
                                        </rng:zeroOrMore>
                                        <rng:optional>
                                            <rng:ref name="textLang"/>
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                            <rng:ref name="decoNote"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="colophon"/>
                                        </rng:zeroOrMore>
                                        <rng:optional>
                                            <rng:choice>
                                                <rng:ref name="sampleText"/>
                                                <rng:ref name="div"/>
                                            </rng:choice>
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                            <rng:ref name="msItemStruct"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="listBibl"/>
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                            <rng:ref name="bibl"/>
                                        </rng:zeroOrMore>
                                    </rng:group>
                                </rng:choice>
                            </rng:group>
                        </content>
                        <attList>
                            <attDef ident="type">
                                <desc>describes the type of the text</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                                <valList type="closed">
                                    <valItem ident="original">
                                        <desc>the text is original</desc>
                                    </valItem>
                                    <valItem ident="compilation">
                                        <desc>the text is compiled from variuos sources</desc>
                                    </valItem>
                                    <valItem ident="translation">
                                        <desc>the text is translated</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="msPart" module="msdescription" mode="change">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="add"/>
                        </classes>
                        <content>
                            <rng:group>
                                <rng:group>
                                    <rng:choice>
                                        <rng:zeroOrMore>
                                            <rng:optional>
                                                <rng:ref name="altIdentifier"/>
                                            </rng:optional>
                                            <rng:optional>
                                                <rng:ref name="msIdentifier"/>
                                            </rng:optional>
                                            <rng:optional>
                                                <rng:ref name="locus"/>
                                            </rng:optional>
                                            <rng:optional>
                                                <rng:ref name="locusGrp"/>
                                            </rng:optional>
                                        </rng:zeroOrMore>
                                    </rng:choice>
                                </rng:group>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.headLike"/>
                                </rng:zeroOrMore>
                                <rng:choice>
                                    <rng:oneOrMore>
                                        <rng:ref name="model.pLike"/>
                                    </rng:oneOrMore>
                                    <rng:group>
                                        <rng:optional>
                                            <rng:ref name="physDesc"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="scribeDesc"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="msContents"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="history"/>
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="additional"/>
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                            <rng:ref name="msPart"/>
                                        </rng:zeroOrMore>
                                    </rng:group>
                                </rng:choice>
                            </rng:group>
                        </content>
                    </elementSpec>

                    <elementSpec ident="musicNotation" module="msdescription" mode="change">
                        <classes mode="replace">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed" mode="add"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara"/>
                        </content>
                        <attList>
                            <attDef ident="system" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="orthNote" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <desc>The <gi>orthNote</gi> element specifies a detail of the orthographic
                            practice of a scribe. The <att>type</att> and <att>subtype</att>
                            attributes support retrieval of manuscripts according to the most
                            important characteristics of scribal practice. The four permitted
                                <att>type</att> values are: <list>
                                <item><val>jer</val>: jer letters</item>
                                <item><val>jus</val>: nasal vowel letters</item>
                                <item><val>jotVowel</val>: jotation</item>
                                <item>and <val>otherLetters</val>: anything other than jers, nasal
                                    vowels, and jotation.</item>
                            </list> Jer and nasal vowel specifications are formalized through the
                                <att>subtype</att> attribute, about shich see the examples
                            below.</desc>
                        <classes mode="replace">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                            <memberOf key="att.naming"/>
                            <memberOf key="att.scoping"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara"/>
                        </content>
                        <exemplum>
                            <p>In the example below, the <att>type</att> and <att>subtype</att>
                                attributes are used to indicate that the orthography uses only the
                                front jer. To describe jer orthography the value of the
                                    <att>type</att> attribute must be <val>jer</val>, in which case
                                there are five permitted <att>subtype</att> values:<list>
                                    <item><val>front</val>: only front jer is used</item>
                                    <item><val>back</val>: only back jer is used</item>
                                    <item><val>etymReg</val>: etymologically regular use of
                                        jers</item>
                                    <item><val>nonEtymReg</val>: not etymological but regular use of
                                        jers</item>
                                    <item><val>irregular</val>: the use of jers cannot be formalized
                                        in general rules</item>
                                </list></p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><orthNote type="jer"
                                    subtype="front">only <c xml:lang="cu">ь</c>
                                </orthNote></egXML>
                        </exemplum>
                        <exemplum>
                            <p>In the example below, the <att>type</att> and <att>subtype</att>
                                attributes are used to indicate that the orthography uses both front
                                and back nasals, but does so inconsistently. To describe nasal vowel
                                orthography the value of the <att>type</att> attribute must be
                                    <val>jus</val>, in which case there are five permitted
                                    <att>subtype</att> values:<list>
                                    <item><val>etymReg</val>: etymologically regular use of juses
                                        (e.g., as in Old Bulgarian)</item>
                                    <item><val>nonEtymReg</val>: non etymological, but otherwise
                                        regular use of the juses (Middle Bulgarian manuscripts, and
                                        in part East Slavic examples)</item>
                                    <item><val>nonConsis</val>: nonconsistent use of the
                                        juses</item>
                                    <item><val>nonJus</val>: orthography without juses</item>
                                    <item><val>jusTrace</val>: orthography without or with very few
                                        examples of the juses, but with traces, e.g., manuscripts
                                        written generally with non-jus orthography but with traces
                                        of the Middle Bulgarian alternation of juses</item>
                                </list></p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><orthNote type="jus"
                                    subtype="nonConsis"><c xml:lang="cu">ѫ</c> replaced by <c
                                        xml:lang="cu">оу</c>; <c xml:lang="cu">ѧ</c> replaced by <c
                                        xml:lang="cu">a</c>;</orthNote></egXML>
                        </exemplum>
                        <exemplum>
                            <p>In the example below, the <att>type</att> attribute with the value of
                                    <val>jotVowel</val>indicates that this note pertains to
                                jotation. In this case there is no <att>subtype</att> attribute, and
                                the behavior is described only in prose.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><orthNote
                                    type="jotVowel">The letters <c xml:id="cu">є</c> and <c
                                        xml:id="cu">ѥ</c> are both used in intervocalic
                                    position.</orthNote></egXML>
                        </exemplum>
                        <exemplum>
                            <p>The <att>type</att> attribute value of <val>otherLetters</val>
                                indicates that this note pertains to letters other than jers,
                                nasals, and jotation.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><orthNote
                                    type="otherLetters"><c xml:lang="cu">ы</c>; <c xml:lang="cu"
                                        >ѥ</c> and <c xml:lang="cu">ѩ</c></orthNote></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="orthography" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <desc>The <gi>orthography</gi> element, which is a child of
                                <gi>scribeLang</gi>, contains a formal, structured description of
                            the orthography of a scribe. The individual orthographic features are
                            specified in <gi>orthoNote</gi> children of <gi>orthography</gi> (see
                            the separate documentation of <gi>orthNote</gi>).</desc>
                        <classes mode="replace">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:oneOrMore>
                                        <rng:ref name="orthNote"/>
                                    </rng:oneOrMore>
                                </rng:group>
                            </rng:choice>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><orthography><orthNote
                                        type="jer" subtype="front">only <c xml:lang="cu">ь</c>
                                    </orthNote><orthNote type="jus" subtype="nonConsis"><c
                                            xml:lang="cu">ѫ</c> replaced by <c xml:lang="cu">оу</c>;
                                            <c xml:lang="cu">ѧ</c> replaced by <c xml:lang="cu"
                                            >a</c>;</orthNote><orthNote type="otherLetters"><c
                                            xml:lang="cu">ы</c>; <c xml:lang="cu">ѥ</c> and <c
                                            xml:lang="cu">ѩ</c></orthNote></orthography></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="pagination" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.scoping"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="physDesc" mode="change" module="msdescription">
                        <content>
                            <rng:group>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:zeroOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="objectDesc"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="ink"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="decoDesc"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="bindingDesc"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="sealDesc"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="additions"/>
                                    </rng:zeroOrMore>
                                </rng:group>
                            </rng:group>
                        </content>
                    </elementSpec>

                    <elementSpec ident="pricking" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <desc>Descriptions of pricking are rare in the literature, although, as
                            explained by Jones (1946a, 1946b), they could bear information on
                            scriptorial techniques.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq"/>
                        </content>
                        <exemplum>
                            <p>The following example is from DUL MS Cosin V.II.17 Anseis de
                                Carthage, Ogier le Danois (in French) s. xiii2 description (<ptr
                                    target="http://www.dur.ac.uk/library/asc/theme/medmss/apvii17/"
                                />), encoded according to the Repertorium model.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><pricking>Pricking in
                                    outer margins only, probably through folded quires, from front
                                    to back.</pricking></egXML>
                        </exemplum>
                        <exemplum>
                            <p> The following example is from the web-based electronic description
                                of St. Alban’s Psalter (<ptr
                                    target="http://www.abdn.ac.uk/~lib399/english/essays/codicology.shtml"
                                />), encoded according to the Repertorium model.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples">
                                <pricking>Most prick marks have been trimmed off. On p 112, 6 prick
                                    marks are visible on the outer margin. On p 417, thirteen prick
                                    marks at 9mm intervals remain on the outer margin. There is no
                                    pricking on the inner margins.</pricking></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="quire" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <desc>The element <gi>quire</gi> brings together all possible features for
                            the characterization of a quire or set of quires, including number,
                            composition, how and where quires are marked, and with the assistance of
                            what tool, etc. The child element <gi>formula</gi> provides information
                            about how the quire is composed, of how many folia, etc.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="locus"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="locusGrp"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="extent"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="formula"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="signatures"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="catchwords"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="gregoryRule"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="ruling"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="pricking"/>
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                        <attList>
                            <attDef ident="status" usage="opt">
                                <desc>Describes the status of the quire or folia: original, added,
                                    missing</desc>
                                <datatype>
                                    <rng:ref name="datatype.Token"/>
                                </datatype>
                                <valList type="closed" mode="add">
                                    <valItem ident="missing">
                                        <gloss>Original quire is missing</gloss>
                                    </valItem>
                                    <valItem ident="added">
                                        <gloss>New quire has been added</gloss>
                                    </valItem>
                                    <valItem ident="original">
                                        <gloss>Quire is original</gloss>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                        <exemplum>
                            <p>In the following example, the first quire of the manuscript consists
                                of 8 ff., all of which, with the exception of the f. 7, are now
                                missing. Quires II through XXI have 8 ff. each. From quire XXII one
                                folio (7) is missing. The last quire, number XXIII, consisted
                                originally of 6 ff., but only 2 of them (5 and 6) are preserved
                                intact.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><collation>
                                    <quire n="I"><extent>2</extent><formula>8 (-1-2-3-4-5-6)
                                        </formula></quire>
                                    <quire n="II-XXI"><extent>8</extent></quire>
                                    <quire n="XXII"><extent>7</extent><formula>7 (-7)</formula>
                                    </quire>
                                    <quire n="XXIII"><extent>2</extent><formula>6 (-1-2-3-4)
                                        </formula></quire></collation></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="ruling" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
                        <desc>Two kinds of information can be entered in the <gi>ruling</gi>
                            element. The first is related to the ruling type defined by researchers
                            like Leroy (1976) or Gilissen (1977), who attempted to propose
                            well-defined typologies of ruling types. In the other, information is
                            related to the place of ruling in the quire, or the so called
                                <q>scheme</q>. The former be expressed as a formula of ruled lines
                            for writing, and the latter could be visualized as simple graphic
                            showing the places in the quire where the ruling is accomplished, e.g.:
                                <q>&gt;&gt; | &gt; | |&lt; |&lt;&lt; = &gt;&gt;| &gt;| |&lt; |
                                &lt;&lt;</q>. This scheme means that in this quire the ruling is
                            made for each of the two folia: once for the outer double leaf and once
                            for the inner one (double sign <q>&gt;&gt;</q> or <q>&lt;&lt;</q>). The
                            symbols <q>&gt;</q> or <q>&lt;</q> mean that on the leaf there is just a
                            trace of the ruling made on the previous leaf. The attribute
                                <att>type</att> can be used to provide information about the
                            classification scheme (e.g., Gilissen or Leroy) employed.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq"/>
                        </content>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><ruling>
                                    <formula>1+1 1/1</formula>
                                </ruling></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="sampleText" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>Repertorium model: Text sample or edition of the original full text. </desc>
                        <classes mode="change">
                            <memberOf key="att.divLike"/>
                            <memberOf key="att.declaring"/>
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:ref name="head"/>
                                    <rng:ref name="rubric"/>
                                    <rng:ref name="incipit"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:ref name="model.pLike"/>
                                    <rng:ref name="div"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:ref name="explicit"/>
                                    <rng:ref name="finalRubric"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="script" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="scribe" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>Repertorium model: description of the paleography, orthography, and
                            language of a scribe. <gi>scribe</gi> contains a modification of the TEI
                                <gi>scriptDesc</gi> element and the Repertorium-specific
                                <gi>scribeLang</gi> element.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                        </classes>
                        <content>
                            <rng:optional>
                                <rng:choice>
                                    <rng:ref name="locus"/>
                                    <rng:ref name="locusGrp"/>
                                </rng:choice>
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="model.nameLike.agent"/>
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="scriptDesc"/>
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="scribeLang"/>
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="bibl"/>
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="note"/>
                            </rng:optional>
                            <rng:zeroOrMore>
                                <rng:ref name="respStmt"/>
                            </rng:zeroOrMore>
                        </content>
                        <exemplum>
                            <p>In the example below, the portions of the manuscript written by
                                Scribe E are identified in a <gi>locusGrp</gi>, followed by a
                                general characterization of the paleography
                                (<gi>palaeoCharact</gi>). See the separate documentation of the
                                Repertorium <gi>scribeLang</gi>, <gi>orthography</gi>, and
                                    <gi>orthNote</gi> elements.</p>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><scribe n="E"
                                            ><locusGrp><locus>Q.п.I.63, 1r-3r</locus>
                                        <locus>Sin. 34, 63v-71v</locus><locus>Sin. 34, 77r-81r
                                        </locus></locusGrp>
                                    <palaeoCharact script="cyrs"><p>Uncial</p></palaeoCharact>
                                    <scribeLang><summary>Middle Bulgarian with Russian
                                            features</summary><orthography><orthNote type="jer"
                                                subtype="front">only <c xml:lang="cu">ь</c>
                                            </orthNote><orthNote type="jus" subtype="nonConsis"><c
                                                  xml:lang="cu">ѫ</c> replaced by <c xml:lang="cu"
                                                  >оу</c>; <c xml:lang="cu">ѧ</c> replaced by <c
                                                  xml:lang="cu">a</c>;</orthNote><orthNote
                                                type="otherLetters"><c xml:lang="cu">ы</c>; <c
                                                  xml:lang="cu">ѥ</c> and <c xml:lang="cu"
                                                >ѩ</c></orthNote></orthography> …
                                    </scribeLang></scribe></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="scribeDesc" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>Repertorium model description of various scribes: palaeography,
                            orthography and language. </desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="scribe"/>
                                    </rng:zeroOrMore>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="scribeLang" ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        mode="add">
                        <desc>Repertorium model: Language of the scribe. <gi>scribeLang</gi>
                            contains a formal description of the language of a scribe, expressed in
                            the <gi>orthography</gi>, <gi>grammar</gi>, and <gi>lexis</gi> child
                            elements.</desc>
                        <classes mode="change">
                            <memberOf key="att.global"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="orthography"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="grammar"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="lexis"/>
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                        <attList>
                            <attDef ident="script" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"
                                        ><scribeLang><summary>Middle Bulgarian with Russian
                                        features</summary><orthography><orthNote type="jer"
                                            subtype="front">only <c xml:lang="cu">ь</c>
                                        </orthNote><orthNote type="jus" subtype="nonConsis"><c
                                                xml:lang="cu">ѫ</c> replaced by <c xml:lang="cu"
                                                >оу</c>; <c xml:lang="cu">ѧ</c> replaced by <c
                                                xml:lang="cu">a</c>;</orthNote><orthNote
                                            type="otherLetters"><c xml:lang="cu">ы</c>; <c
                                                xml:lang="cu">ѥ</c> and <c xml:lang="cu"
                                            >ѩ</c></orthNote></orthography> … </scribeLang></egXML>
                        </exemplum>
                    </elementSpec>

                    <elementSpec ident="scriptDesc" mode="change">
                        <desc>Repertorium model: Paleographic characteristics</desc>
                        <classes mode="change">
                            <memberOf key="att.global.attributes"/>
                            <memberOf key="att.handFeatures.attributes"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="scriptNote"/>
                                    </rng:zeroOrMore>
                                    <rng:zeroOrMore>
                                        <rng:ref name="musicNotation"/>
                                    </rng:zeroOrMore>
                                    <rng:optional>
                                        <rng:ref name="crypto"/>
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                        <attList>
                            <attDef ident="script" usage="opt">
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="scriptNote" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global.attributes"/>
                            <memberOf key="att.handFeatures.attributes"/>
                            <memberOf key="att.typed"/>
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara"/>
                        </content>
                    </elementSpec>

                    <elementSpec ident="supportDesc" module="msdescription" mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="support"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="extent"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:choice>
                                            <rng:ref name="foliation"/>
                                            <rng:ref name="pagination"/>
                                        </rng:choice>
                                    </rng:zeroOrMore>
                                    <rng:optional>
                                        <rng:ref name="collation"/>
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="condition"/>
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="watermark" module="msdescription" mode="change">
                        <desc>The content of this element includes phrase level elements, as well as
                            specialized elements like <gi>countermark</gi> and <gi>motif</gi>. There
                            are several special attributes for the content of this element.
                                <att>tracing</att> is used to describe very briefly (with one word)
                            the method of watermark tracing. The most usual method is still drawing
                            by hand, but there could be other possibilities, such as rubbing by
                            hand, usage of special Dylux print paper, beta- or x-radiography,
                            scanning, etc. The <att>place</att> attribute from the class
                            att.placement can refine where on the pages the watermark can be seen,
                            and may be described in relation to wire lines and chain (laid)
                            lines.</desc>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text/>
                                    <rng:ref name="model.phrase"/>
                                    <rng:ref name="countermark"/>
                                    <rng:ref name="motif"/>
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="tracing">
                                <desc>describes the methods of recording of some watermark. Methods
                                    include: tracing, rubbing, etc.</desc>
                                <datatype>
                                    <rng:text/>
                                </datatype>
                            </attDef>
                        </attList>
                        <exemplum>
                            <egXML xmlns="http://www.tei-c.org/ns/Examples"><watermark
                                    tracing="drawing"><motif type="basic">Leo</motif>within <motif
                                        type="supplemental">circle</motif> surmounted by <motif
                                        type="secondary">quatrefoil</motif> and with
                                        <countermark>“AP”</countermark> similar to <ref>Nikolaev
                                        #125</ref> from the year <date cert="yes"
                                    >1585</date>.</watermark></egXML>
                        </exemplum>
                    </elementSpec>

                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
