odd_3.0/tei_ms_repertorium.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:math="http://www.w3.org/1998/Math/MathML"
    xmlns="http://www.tei-c.org/ns/1.0"
    xmlns:re="http://www.ilit.bas.bg/repertorium/ns/3.0"
    xmlns:rng="http://relaxng.org/ns/structure/1.0" 
    xml:lang="en"
    n="repertorium">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Repertorium MS model based on TEI P5 (version 2.3.0)</title>
                <author xml:id="atb">Andrej Bojadziev</author>
            </titleStmt>
            <editionStmt>
                <edition>3.0 Last updated 23.04.2013</edition>
            </editionStmt>
            <publicationStmt>
<date when="2013-04-23">23 April 2013</date>
                <availability status="free">
                    <p>
                        <hi>Copyright 2012-2013 TEI Consortium and Repertorium
                            Project</hi>
                    </p>
                    <p>This template file is freely available and you are hereby
                        authorised to copy, modify, and redistribute it in any
                        way without further reference or permissions.</p>
                    <p>When making such modifications, you are strongly
                        recommended to change the present text to include an
                        accurate statement of the licencing conditions
                        applicable to your modified text.</p>
                </availability>
            </publicationStmt>

            <notesStmt>
                <note type="ns">http://www.ilit.bas.bg/repertorium/ns/3.0</note>
            </notesStmt>

            <sourceDesc>
                <p>Written from scratch by
                    <address>
                        <addrLine>aboy@uni-sofia.bg</addrLine>
                    </address>
                </p>
            </sourceDesc>
        </fileDesc>
        <revisionDesc>
            <change who="#atb" when="2013-04-23"> Changed the content of the element scribeDesc. Changed palaeoCharact to scriptDesc and palaeoNote to scriptNote to be compatible with TEI 5 version 2.3.0. Changed the content of collation element to allow a better choice between unstructured and stuctured description. Remove attribute style from msContents and msItemStruct. Now it is a global TEI attribute.</change>
            <change who="#atb" when="2012-02-07"> Changed the introduction to
                this file, header information, added div elements. </change>
            <change who="#atb" when="2012-02-04"> Changed the content of
                elements decoDesc and decoNote </change>
        </revisionDesc>
    </teiHeader>
    <text>
        <body>
            <div>
                <head>Repertorium manuscript description model based on
                    TEI</head>
                <p>This TEI customization describes a schema that includes
                        <emph>several</emph> of the TEI (P5) modules and is
                    especially designed to be used for manuscript description.
                    This customization changes desclarations for many of the TEI
                    elements which are intended for manuscript description. In
                    doing this a special emphasis is put on the tradition for
                    description of Slavic manuscripts. However, this model could
                    be used in the description of every European medieval
                    manuscript tradition. The TEI modules in use are <list>
                        <item>analysis - optional</item>
                        <item>certainty - optional</item>
                        <item>core - required</item>
                        <item>figures - optional</item>
                        <item>header - required</item>
                        <item>msdescription - optional</item>
                        <item>namesdates - optional</item>
                        <item>tei - required</item>
                        <item>textstructure - required</item>
                        <item>transcr - optional</item>
                    </list>
                </p>
            </div>

            <div>
                <head>Schema, modules, class and element specifications</head>

                <schemaSpec ident="tei_ms_repertorium" start="TEI msDesc">
                    <!-- required modules -->
                    <moduleRef key="header"
                        except="appInfo application biblFull typeNote" />
                    <moduleRef key="linking"
                        except="alt altGrp join joinGrp link linkGrp" />
                    <moduleRef key="core" except="postBox postCode teiCorpus" />
                    <moduleRef key="tei" />
                    <moduleRef key="textstructure"
                        except="argument byline closer dateline div1 div2 div3 div4 div5 div6 div7 opener postscript salute signed" />
                    <!-- optional modules -->
                    <moduleRef key="analysis" />
                    <moduleRef key="certainty" />
                    <moduleRef key="figures" />
                    <moduleRef key="msdescription"
                        except="handDesc msItem typeDesc" />

                    <moduleRef key="namesdates" except="climate terrain" />
                    <moduleRef key="transcr"/>


                    <classSpec ident="model.physDescPart" type="model"
                        mode="delete" module="msdescription" />

                    <elementSpec ident="additions" module="msdescription"
                        mode="change">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="add" />
                            <memberOf key="att.datable" mode="add" />
                        </classes>
                    </elementSpec>

                    <elementSpec ident="altIdentifier" module="msdescription"
                        mode="change">
                        <content>
                            <rng:zeroOrMore>
                                <rng:ref name="msName" />
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:ref
                                        name="model.placeNamePart_sequenceOptional"
                                     />
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="institution" />
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="repository" />
                                </rng:optional>
                                <rng:zeroOrMore>
                                    <rng:ref name="collection" />
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="idno" />
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="note" />
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="altIdentifier" />
                                </rng:optional>
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="binding" module="msdescription"
                        mode="change">
                        <content>
                            <rng:oneOrMore>
                                <rng:choice>
                                    <rng:ref name="model.pLike" />
                                    <rng:ref name="bindingNote" />
                                    <rng:ref name="condition" />
                                    <rng:ref name="decoNote" />
                                    
                                </rng:choice>
                            </rng:oneOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="bindingNote" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>The element allows structured description of
                            binding's characteristics in addition of decoration
                            and condition. These features could apply but are
                            not limited to the binding's parts: cover, plates,
                            headbands, edges, clasps as well as to the sewing
                            techniques. </desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                            <memberOf key="att.damaged" />
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="model.phrase" />
                                    <rng:ref name="decoNote" />
                                    <rng:ref name="condition" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="collation" module="msdescription"
                        mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                            <rng:optional>
                                <rng:ref name="summary" />
                            </rng:optional>
                            <rng:zeroOrMore>
                                <rng:ref name="quire" />
                            </rng:zeroOrMore>
                            <rng:optional>
                                <rng:ref name="signatures" />
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="catchwords" />
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="gregoryRule" />
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="ruling" />
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="pricking" />
                            </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="countermark" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Called also counter watermark</desc>
                        
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="model.phrase" />
                                    <rng:ref name="motif" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>


                    <elementSpec ident="crypto"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium model: description of cryptographical
                            system(s)</desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:ref name="macro.paraContent" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="grammar" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <classes mode="replace">
                            <memberOf key="att.global" />
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="gregoryRule" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium: Description of Gregory rule in the
                            codices</desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="history" module="msdescription"
                        mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="origin" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="accMat" />
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="provenance" />
                                    </rng:zeroOrMore>
                                    <rng:optional>
                                        <rng:ref name="acquisition" />
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="ink"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Description of ink(s)</desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.measurement" />
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="layout" module="msdescription"
                        mode="change">
                        <classes mode="change">
                            <memberOf key="att.measurement" mode="add" />
                        </classes>
                    </elementSpec>

                    <elementSpec ident="lexis" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <classes mode="replace">
                            <memberOf key="att.global" />
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara" />
                        </content>
                    </elementSpec>
  
                    <elementSpec ident="motif" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="model.phrase" />
                                    <rng:ref name="motif" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="msContents" module="msdescription"
                        mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:group>
                                        <rng:optional>
                                        <rng:ref name="summary" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="titlePage" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="title" />
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                        <rng:ref name="author" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="respStmt" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="model.noteLike" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="filiation" />
                                        </rng:zeroOrMore>
                                        <rng:optional>
                                        <rng:ref name="textLang" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="decoNote" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="sampleText" />
                                        </rng:optional>
                                        <rng:optional>
                                            <rng:ref name="div" />
                                        </rng:optional>
                                    </rng:group>
                                    <rng:zeroOrMore>
                                        <rng:ref name="msItemStruct" />
                                    </rng:zeroOrMore>
                                </rng:group>
                            </rng:choice>
                        </content>
                        <attList>
                            <attDef ident="type">
                                <desc>describes the type of the text</desc>
                                <datatype>
                                    <rng:text />
                                </datatype>
                                <valList type="closed">
                                    <valItem ident="original">
                                        <desc>the text is original</desc>
                                    </valItem>
                                    <valItem ident="compilation">
                                        <desc>the text is compiled from variuos
                                        sources</desc>
                                    </valItem>
                                    <valItem ident="translation">
                                        <desc>the text is translated</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="msDesc" module="msdescription"
                        mode="change">
                        <content>
                            <rng:zeroOrMore>
                                <rng:ref name="model.headLike" />
                            </rng:zeroOrMore>
                            <rng:ref name="msIdentifier" />
                            <rng:choice>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:zeroOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="physDesc" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="scribeDesc" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="msContents" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="history" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="additional" />
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="msPart" />
                                    </rng:zeroOrMore>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="msIdentifier" module="msdescription"
                        mode="change">
                        <content>
                            <rng:zeroOrMore>
                                <rng:ref name="msName" />
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:ref name="p" />
                                </rng:zeroOrMore>
                                <rng:zeroOrMore>
                                    <rng:ref
                                        name="model.placeNamePart_sequenceOptional"
                                     />
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="institution" />
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="repository" />
                                </rng:optional>
                                <rng:zeroOrMore>
                                    <rng:ref name="collection" />
                                </rng:zeroOrMore>
                                <rng:optional>
                                    <rng:ref name="idno" />
                                </rng:optional>
                                <rng:optional>
                                    <rng:ref name="note" />
                                </rng:optional>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:ref name="altIdentifier" />
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="msItemStruct" module="msdescription"
                        mode="change">
                        <content>
                            <rng:group>
                                <rng:choice>
                                    <rng:optional>
                                        <rng:ref name="locus" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="locusGrp" />
                                    </rng:optional>
                                </rng:choice>
                                <rng:choice>
                                    <rng:oneOrMore>
                                        <rng:ref name="model.pLike" />
                                    </rng:oneOrMore>
                                    <rng:group>
                                        <rng:zeroOrMore>
                                        <rng:ref name="title" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="author" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="respStmt" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="model.noteLike" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="filiation" />
                                        </rng:zeroOrMore>
                                        <rng:optional>
                                        <rng:ref name="textLang" />
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                        <rng:ref name="decoNote" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="colophon" />
                                        </rng:zeroOrMore>
                                        <rng:optional>
                                        <rng:choice>
                                        <rng:ref name="sampleText" />
                                        <rng:ref name="div" />
                                        </rng:choice>
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                        <rng:ref name="msItemStruct" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="listBibl" />
                                        </rng:zeroOrMore>
                                        <rng:zeroOrMore>
                                        <rng:ref name="bibl" />
                                        </rng:zeroOrMore>
                                    </rng:group>
                                </rng:choice>
                            </rng:group>
                        </content>
                        <attList>
                            <attDef ident="type">
                                <desc>describes the type of the text</desc>
                                <datatype>
                                    <rng:text />
                                </datatype>
                                <valList type="closed">
                                    <valItem ident="original">
                                        <desc>the text is original</desc>
                                    </valItem>
                                    <valItem ident="compilation">
                                        <desc>the text is compiled from variuos
                                        sources</desc>
                                    </valItem>
                                    <valItem ident="translation">
                                        <desc>the text is translated</desc>
                                    </valItem>
                                </valList>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="msPart" module="msdescription"
                        mode="change">
                        <classes mode="change">
                            <memberOf key="att.typed" mode="add" />
                        </classes>
                        <content>
                            <rng:group>
                                <rng:group>
                                    <rng:choice>
                                        <rng:zeroOrMore>
                                        <rng:optional>
                                        <rng:ref name="altIdentifier" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="msIdentifier" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="locus" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="locusGrp" />
                                        </rng:optional>
                                        </rng:zeroOrMore>
                                    </rng:choice>
                                </rng:group>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.headLike" />
                                </rng:zeroOrMore>
                                <rng:choice>
                                    <rng:oneOrMore>
                                        <rng:ref name="model.pLike" />
                                    </rng:oneOrMore>
                                    <rng:group>
                                        <rng:optional>
                                        <rng:ref name="physDesc" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="scribeDesc" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="msContents" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="history" />
                                        </rng:optional>
                                        <rng:optional>
                                        <rng:ref name="additional" />
                                        </rng:optional>
                                        <rng:zeroOrMore>
                                        <rng:ref name="msPart" />
                                        </rng:zeroOrMore>
                                    </rng:group>
                                </rng:choice>
                            </rng:group>
                        </content>
                    </elementSpec>

                    <elementSpec ident="musicNotation" module="msdescription"
                        mode="change">
                        <classes mode="replace">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" mode="add" />
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara" />
                        </content>
                        <attList>
                            <attDef ident="system" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="orthNote" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <classes mode="replace">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                            <memberOf key="att.naming" />
                            <memberOf key="att.scoping" />
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="orthography" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <classes mode="replace">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary" />
                                    </rng:optional>
                                    <rng:oneOrMore>
                                        <rng:ref name="orthNote" />
                                    </rng:oneOrMore>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="pagination" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.scoping" />
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="physDesc" mode="change"
                        module="msdescription">
                        <content>
                            <rng:group>
                                <rng:zeroOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:zeroOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="objectDesc" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="ink" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="decoDesc" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="bindingDesc" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="sealDesc" />
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="additions" />
                                    </rng:zeroOrMore>
                                </rng:group>
                            </rng:group>
                        </content>
                    </elementSpec>

                    <elementSpec ident="pricking" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium: Description of pricking appearance
                            and techniques applied</desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="quire" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium: Description of a separate quire. </desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary" />
                                    </rng:optional>
                                    <rng:optional><rng:ref name="locus" /></rng:optional>
                                    <rng:optional><rng:ref name="locusGrp" /></rng:optional>
                                    <rng:optional><rng:ref name="extent" /></rng:optional>
                                    <rng:optional><rng:ref name="formula" /></rng:optional>
                                    <rng:optional><rng:ref name="signatures" /></rng:optional>
                                    <rng:optional><rng:ref name="catchwords" /></rng:optional>
                                    <rng:optional><rng:ref name="gregoryRule" /></rng:optional>
                                    <rng:optional><rng:ref name="ruling" /></rng:optional>
                                    <rng:optional><rng:ref name="pricking" /></rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                        <attList>
                            <attDef ident="status">
                                <desc>describes the status of the quire or
                                    folia: original, added, missing</desc>
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>
                  
                    <elementSpec ident="ruling" module="msdescription"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium: Ruling types and techniques goes
                            here. </desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:ref name="macro.phraseSeq" />
                        </content>
                    </elementSpec>

                    <elementSpec ident="sampleText"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium model: Text sample or edition of the
                            original full text. </desc>
                        <classes mode="change">
                            <memberOf key="att.divLike" />
                            <memberOf key="att.declaring" />
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:ref name="head" />
                                    <rng:ref name="rubric" />
                                    <rng:ref name="incipit" />
                                </rng:choice>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:ref name="model.pLike" />
                                    <rng:ref name="div" />
                                </rng:choice>
                            </rng:zeroOrMore>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:ref name="explicit" />
                                    <rng:ref name="finalRubric" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="script" usage="opt">
                                <datatype>
                                    <rng:text />
                                </datatype>
                            </attDef>
                        </attList>
                    </elementSpec>

                    <elementSpec ident="scribe"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium model: descrtiption of palaeography,
                            orthography and language of particular scribe </desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                        </classes>
                        <content>
                            <rng:optional>
                                <rng:choice>
                                    <rng:ref name="locus" />
                                    <rng:ref name="locusGrp" />
                                </rng:choice>
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="model.nameLike.agent" />
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="scriptDesc" />
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="scribeLang" />
                            </rng:optional>
                            <rng:optional>
                                <rng:ref name="note" />
                            </rng:optional>
                            <rng:zeroOrMore>
                                <rng:ref name="respStmt" />
                            </rng:zeroOrMore>
                        </content>
                    </elementSpec>

                    <elementSpec ident="scribeDesc"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium model description of various scribes:
                            palaeography, orthography and language. </desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="scribe" />
                                    </rng:zeroOrMore>
                                </rng:group>
                                </rng:choice>
                        </content>
                    </elementSpec>

                    <elementSpec ident="scribeLang"
                        ns="http://www.ilit.bas.bg/repertorium/ns/3.0"
                        prefix="re" mode="add">
                        <desc>Repertorium model: Language of the scribe. </desc>
                        <classes mode="change">
                            <memberOf key="att.global" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="orthography" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="grammar" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="lexis" />
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>
		    
		    <elementSpec ident="scriptDesc" mode="change">
                        <desc>Repertorium model: Palaeograpical characteristics </desc>
                        <classes mode="change">
                            <memberOf key="att.global.attributes" />
                            <memberOf key="att.handFeatures.attributes" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike"/>
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="summary"/>
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:ref name="scriptNote"/>
                                    </rng:zeroOrMore>
                                    <rng:zeroOrMore>
                                        <rng:ref name="musicNotation"/>
                                    </rng:zeroOrMore>
                                    <rng:optional>
                                        <rng:ref name="crypto"/>
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>    
                        </content>
                    </elementSpec>
                    
                    <elementSpec ident="scriptNote" mode="change">
                        <classes mode="change">
                            <memberOf key="att.global.attributes" />
                            <memberOf key="att.handFeatures.attributes" />
                            <memberOf key="att.typed" />
                        </classes>
                        <content>
                            <rng:ref name="macro.specialPara"/>    
                        </content>
                    </elementSpec>

                    <elementSpec ident="supportDesc" module="msdescription"
                        mode="change">
                        <content>
                            <rng:choice>
                                <rng:oneOrMore>
                                    <rng:ref name="model.pLike" />
                                </rng:oneOrMore>
                                <rng:group>
                                    <rng:optional>
                                        <rng:ref name="support" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="extent" />
                                    </rng:optional>
                                    <rng:zeroOrMore>
                                        <rng:choice>
                                        <rng:ref name="foliation" />
                                        <rng:ref name="pagination" />
                                        </rng:choice>
                                    </rng:zeroOrMore>
                                    <rng:optional>
                                        <rng:ref name="collation" />
                                    </rng:optional>
                                    <rng:optional>
                                        <rng:ref name="condition" />
                                    </rng:optional>
                                </rng:group>
                            </rng:choice>
                        </content>
                    </elementSpec>


                    <elementSpec ident="watermark" module="msdescription"
                        mode="change">
                        
                        <content>
                            <rng:zeroOrMore>
                                <rng:choice>
                                    <rng:text />
                                    <rng:ref name="model.phrase" />
                                    <rng:ref name="countermark" />
                                    <rng:ref name="motif" />
                                </rng:choice>
                            </rng:zeroOrMore>
                        </content>
                        <attList>
                            <attDef ident="tracing">
                                <desc>describes the methods of recording of some
                                    watermark. Methods include: tracing,
                                    rubbing, etc. </desc>
                                <datatype>
                                    <rng:text />
                                </datatype>

                            </attDef>
                        </attList>

                    </elementSpec>

                </schemaSpec>
            </div>
        </body>
    </text>
</TEI>
