app/schema/tei_ms_repertorium.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" n="testmsre" xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns="http://www.tei-c.org/ns/1.0" xmlns:re="http://www.ilit.bas.bg/repertorium/ns/3.0" xmlns:dcr="http://www.isocat.org/ns/dcr">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Repertorium MS model based on TEI P5 (P5 Version 4.7.0. Last updated on 16th November 2023, revision e5dd73ed0)</title>
        <author xml:id="atb">Andrej Bojadžiev</author>
        <author xml:id="djb">David J. Birnbaum</author>
      </titleStmt>
      <editionStmt>
        <edition n="3.5">Updated according to version TEI P5 4.7.0</edition>
        <!-- Previous edition: 3.4 Last updated 25.01.2023 -->
        <!-- Previous edition: 3.3. Last updated 09.05.2022 -->
        <!-- Previous edition: 3.2 Last updated 16.11.2019 -->
        <!-- Previous edition: 3.1 Last updated 2017-10-18 -->
        <!-- Previous edition: 3.0 Last updated 2013-04-23 -->
      </editionStmt>
      <publicationStmt>
        <authority>Andrej Bojadžiev (<email>aboy@uni-sofia.bg</email>) and David J. Birnbaum
            (<email>djbpitt@gmail.com</email>) on behalf of the Repertorium Project (<ptr
            target="http://repertorium.obdurodon.org"/>)</authority>
        <publisher>Repertorium Initiative</publisher>
        <date when="2024-07-04">4th of July 2024</date>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/4.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 4.0 Unported License </licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>
              <hi>Copyright © 2012-2024 TEI Consortium and Repertorium Project</hi></p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. . </p>
        </availability>
      </publicationStmt>
      <notesStmt>
        <note type="ns">http://www.ilit.bas.bg/repertorium/ns/3.0</note>
      </notesStmt>
      <sourceDesc>
        <p>The curren version 3.5 was revised 2023-11-29 by Andrej Bojadžiev
          <email>aboy@uni-sofia.bg</email> and David J. Birnbaum (<email>djbpitt@gmail.com</email>)</p>
        <p>The version 3.4 was revised 2023-01-25 by Andrej Bojadžiev
          <email>aboy@uni-sofia.bg</email>.</p>
        <p>The version 3.3 was revised 2022-05-09 by Andrej Bojadžiev
          <email>aboy@uni-sofia.bg</email>.</p>
        <p>The version 3.2 was revised 2019-10-29 by Andrej Bojadžiev
            <email>aboy@uni-sofia.bg</email> and David J. Birnbaum
          (<email>djbpitt@gmail.com</email>) .</p>
        <p>The version 3.1 was revised 2017-10-18 by David J. Birnbaum
            (<email>djbpitt@gmail.com</email>) and Andrej Bojadžiev.
            <email>aboy@uni-sofia.bg</email></p>
        <p>Version 3.0 was written from scratch by Andrej Bojadžiev
            (<email>aboy@uni-sofia.bg</email>). </p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2024-07-04" who="#atb">Included <gi>head</gi> as the child of <gi>msDesc</gi>, after  <gi>msIdentifier</gi>. </change>
      <change who="#atb" when="2023-11-29">Test RelaxNG schemas for compatibility with the version 4.7.0 of TEI Guidelines.
      </change>
      <change who="#atb #djb" when="2023-11-03">
        <list>
          <item>Introduce an element <gi>label</gi> as part of <gi>sampleText</gi></item>
          <item>Rearange the order ot elements in <gi>sampleText</gi></item>
          <item>Change the content of the element <gi>msPart</gi> making <gi>msIdentifier</gi> optional</item>
        </list>
        </change>
      <change who="#atb #djb" when="2023-10-27">
        <list>
          <item>Remove element <gi>bindingNote</gi> and replace its funcions with <gi>decoNote</gi></item>
          <item>Change element content of binding to include element <gi>summary</gi> instead of TEI's <gi>p</gi></item>
          <item>Change the content of element <gi>collation</gi> and rearrange the content of element <gi>quire</gi></item>
          <item>Change instances where you have choice between structured and unstructured description by removing possibility of unstructured ones, e.g. elements <gi>p</gi> and <gi>ab</gi></item>
          <item>Change attribute <att>tracing</att> to <att>recording</att> of element <gi>watermark</gi>. Add the same attribute to element  <gi>countermark</gi>.</item>
        </list>
        </change>
      <change who="#atb" when="2023-07-24">Updated to reflect changes in version 4.6.0 of TEI Guidelines (Last updated on 4th April 2023, revision f18deffba). No changes for specific Repertorium elements have been made</change>
      <change who="#atb" when="2023-01-25">Allow <gi>scriptDesc</gi> and <gi>scribeLang</gi> to appear as children of <gi>scribeDesc</gi> to be used as general charcteristics for the short catalogue. Allow element <gi>scriptDesc</gi> to appear more then once.</change>
      <change who="#atb" when="2022-05-09">
        <list>
          <item>Updated to reflect changes in version 4.4.0 of TEI Guidelines (Last updated on 19th April 2022, revision ff9cc28b0).</item>
          <item>The first line of the descriptions <gi>schemaSpec</gi> is revised from 3.6.0 to
            4.4.0 to reflect the current state of TEI Guidelines</item>
          <item>Removed Repertorium elements orthNote, orthography, grammar and lexis and replaced them with langNote</item>
          <item>Added msPart as part of msFrag element</item>
        <item>Included the element altIdentifier as child of msFrag (as per TEI) but allowed it to appear more than once.</item>
        </list>
      </change>
      <change who="#atb" when="2019-11-16">
        <list>
          <item>Included the whole TEI copyright notice and changed version of Creative Commons
            license from 3.0 to 4.0.</item>
          <item>Remove all instances of <att>type</att> attribute where previously were defined in
            Repertorium model but now are part of TEI.</item>
          <item>Remove <gi>segmentation</gi> from the excluded elements in
            <gi>teiHeader</gi>.</item>
          <item>Added attribute <att>prefix</att> with the <val>re</val> for all
              <gi>elementSpec</gi> which are part of Repertorium namespace.</item>
        </list>
      </change>
      <change who="#atb" when="2019-10-29">
        <list>
          <item>Updated to reflect changes in last version 3.6.0 of TEI Guidelines (Last updated on
            16th July 2019, revision daa3cc0b9).</item>
          <item>The first line of the descriptions <gi>schemaSpec</gi> is revised from 3.2.0 to
            3.6.0 to reflect the current state of TEI Guidelines</item>
          <item>Included elements from <gi>editionStmt</gi>: <gi>funder</gi>, <gi>principal</gi>,
              <gi>sponsor</gi>. </item>
          <item>Included parts of <gi>editorialDecl</gi>: <gi>correction</gi>, <gi>hyphenation</gi>,
              <gi>interpretation</gi>, <gi>normalization</gi>, <gi>punctuation</gi>,
              <gi>quotation</gi>, <gi>segmentation</gi>. </item>
          <item>Excluded the element <gi>msIdentifier</gi> from the content of element
              <gi>msPart</gi>. In Repertorium and Zograf projects we will use <gi>msPart</gi> only
            for convolutes and palimpsests. </item>
          <item>Included elements from <gi>profileDesc</gi>: <gi>calendarDesc</gi>,
              <gi>correspDesc</gi>. </item>
          <item>Included <gi>msFrag</gi> element for manuscripts that now are kept in different
            repositories and collections.</item>
          <item>Remove obligatory value Repertorium from the attribute <att>scheme</att> in the
            element <gi>keywords</gi>. </item>
          <item>The remark about the exclusion of <gi>msFrag</gi> from Repertorium schema is
            removed. <gi>msFrag</gi> is now part of the Repertorium model. </item>
          <item>The special inclusion of <att>type</att> in <gi>msPart</gi> is now deleted. The
              <code>class att.typed</code> is now part of the TEI model, so its special handling is
            not necessary. Changed the instructions for usage of <gi>msPart</gi> in the section of
            examples in this regard. </item>
        </list>
      </change>
      <change who="#djb" when="2017-11-01">Added examples and documentation for Repertorium
        customizations. No change in functionality.</change>
      <change who="#atb #djb" when="2017-10-20">Minor general edits. Added documentation for
        Repertorium customizations.</change>
      <change who="#djb" when="2017-10-18">Minor general edits. Updated version number from 3.0 to
        3.1. Major changes are: <list>
          <item>Exclude <gi>xenoData</gi>, the presence of which raises mysterious attribute type
            errors, apparently because of the introduction of a new namespace into the
            schema.</item>
          <item>For unclear reasons, inclusion of <att>prefix</att> attribute when declaring new
            elements in Repertorium namespace prevents their inclusion. For that reason, the
              <att>prefix</att> attribute has been removed.</item>
          <item>New Repertorium elements moved into Repertorium namespace, where they should have
            been initially.</item>
          <item><gi>keywords</gi> must have <att>scheme</att> attribute with value of
              <val>Repertorium</val></item>
          <item>Added <att>script</att> attribute to <gi>re:scribeLang</gi> and
              <gi>re:scriptDesc</gi></item>
          <item>Previous bibliographic pointer references were expressed as <gi>ref</gi> elements
            with <att>type</att> values of <val>bibl</val> but without <gi>bibl</gi> wrappers. That
            is not permitted by P5, and the new ODD enforces the TEI requirement that such
              <gi>ref</gi> elements be wrapped in <gi>bibl</gi> tags.</item>
          <item>Allow <gi>bibl</gi> as child of <gi>scribe</gi>.</item>
          <item>Previous versions of the Repertorium schema permitted a <att>type</att> attribute on
            the <gi>teiHeader</gi> with a value of <val>text</val>. This is not permitted by P5, and
            the new ODD enforces that TEI requirement.</item>
          <item>Content models defined in the RelaxNG namespace are now defined using pure ODD. See
              <ptr target="http://teic.github.io/PDF/purifyDoc.pdf"/> for documentation.</item>
        </list></change>
      <change who="#atb" when="2013-04-23"> Changed the content of the element <gi>scribeDesc</gi>.
        Changed <gi>palaeoCharact</gi> to <gi>scriptDesc</gi> and <gi>palaeoNote</gi> to
          <gi>scriptNote</gi> to be compatible with TEI 5 version 2.3.0. Changed the content of
          <gi>collation</gi> element to allow a better choice between unstructured and stuctured
        description. Remove attribute <att>style</att> from <gi>msContents</gi> and
          <gi>msItemStruct</gi>. Now it is a global TEI attribute.</change>
      <change who="#atb" when="2012-02-07"> Changed the introduction to this file, header
        information, added <gi>div</gi> elements. </change>
      <change who="#atb" when="2012-02-04"> Changed the content of elements <gi>decoDesc</gi> and
          <gi>decoNote</gi>.</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <head>Repertorium manuscript description model based on TEI</head>
        <p>This TEI customization describes a schema that includes several of the TEI (P5) modules
          and is especially designed to be used for manuscript description within the framework of
          the Repertorium of Old Bulgarian Literature and Letters (<ptr
            target="http://repertorium.obdurodon.org"/>). The modifications were motivated by the
          Slavistic codicological tradition, but the model may also be useful for describing other
          European medieval manuscripts.</p>
        <p>The TEI modules in use are: <ident>analysis</ident> (optional), <ident>certainty</ident>
          (optional), <ident>core</ident> (required), <ident>figures</ident> (optional),
            <ident>header</ident> (required), <ident>msdescription</ident> (optional),
            <ident>namesdates</ident> (optional), <ident>tei</ident> (required),
            <ident>textstructure</ident> (required), <ident>transcr</ident> (optional).</p>
        <p>From the preceding modules we exclude the following TEI elements: <gi>alt</gi>,
            <gi>altGrp</gi>, <gi>appInfo</gi>, <gi>application</gi>, <gi>biblFull</gi>,
            <gi>binaryObject</gi>, <gi>climate</gi>, <gi>div1</gi>, <gi>div2</gi>, <gi>div3</gi>,
            <gi>div4</gi>, <gi>div5</gi>, <gi>div6</gi>, <gi>div7</gi>, <gi>divGen</gi>,
            <gi>handDesc</gi>, <gi>handNote</gi>, <gi>interp</gi>, <gi>interpGrp</gi><gi>join</gi>,
            <gi>joinGrp</gi>, <gi>langKnowledge</gi>, <gi>langKnown</gi>, <gi>link</gi>,
            <gi>linkGrp</gi>, <gi>listEvent</gi>, <gi>listNym</gi>, <gi>listOrg</gi>,
            <gi>listTranspose</gi>, <gi>metamark</gi>, <gi>msItem</gi>, <gi>namespace</gi>,
            <gi>nym</gi>, <gi>offset</gi>, <gi>population</gi>, <gi>respons</gi>,
            <gi>samplingDecl</gi>, <gi>sex</gi>, <gi>socecStatus</gi>, <gi>span</gi>,
            <gi>spanGrp</gi>, <gi>state</gi>, <gi>stdVals</gi>, <gi>street</gi>,
            <gi>styleDefDecl</gi>, <gi>surface</gi>, <gi>surfaceGrp</gi>, <gi>tagsDecl</gi>,
            <gi>tagUsage</gi>, <gi>teiCorpus</gi>, <gi>terrain</gi>, <gi>typeDesc</gi>,
            <gi>typeNote</gi>, <gi>xenoData</gi>, <gi>zone</gi>.</p>
        <p>The following new elements are declared in the Repertorium namespace
            (<val>http://www.ilit.bas.bg/repertorium/ns/3</val>: <gi>bindingNote</gi>,
            <gi>countermark</gi>, <gi>crypto</gi>,  <gi>gregoryRule</gi>,
            <gi>ink</gi>, <gi>langNote</gi>, <gi>motif</gi>, 
            <gi>pagination</gi>, <gi>pricking</gi>, <gi>quire</gi>, <gi>ruling</gi>,
            <gi>sampleText</gi>, <gi>scribe</gi>, <gi>scribeDesc</gi>, <gi>scribeLang</gi>.</p>
        <p>The content models of the following elements in the TEI namespace have been modified:
            <gi>additions</gi>, <gi>altIdentifier</gi>, <gi>binding</gi>, <gi>collation</gi>,
            <gi>colophon</gi>, <gi>history</gi>, <gi>keywords</gi>, <gi>msContents</gi>,
            <gi>msDesc</gi>, <gi>msFrag</gi>, <gi>msIdentifier</gi>, <gi>msItemStruct</gi>, <gi>msPart</gi>,
            <gi>musicNotation</gi>, <gi>physDesc</gi>, <gi>scriptDesc</gi>, <gi>supportDesc</gi>,
            <gi>watermark</gi>. The class membership of <gi>accMat</gi> has been modified to remove
          it from <gi>physDesc</gi> and add it into <gi>history</gi>, but its content model remains
          the same.</p>
        <p>The models for following elements in the TEI namespace have not been modified, but new
          Repertorium examples have been added: <gi>date</gi>.</p>
      </div>
      <div>
        <p>Repertorium model for manuscript description</p>
        <schemaSpec ident="re_tei_ms" start="TEI msDesc" source="tei:4.7.0">
          <!-- required modules -->
          <moduleRef key="header"
            except="appInfo application biblFull namespace samplingDecl stdVals styleDefDecl tagUsage tagsDecl xenoData"/>
          <moduleRef key="linking" except="alt altGrp join joinGrp link linkGrp"/>
          <moduleRef key="core" except="binaryObject divGen street teiCorpus"/>
          <moduleRef key="tei"/>
          <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
          <!-- optional modules -->
          <moduleRef key="analysis" except="interp interpGrp span spanGrp"/>
          <moduleRef key="certainty" except="respons"/>
          <moduleRef key="namesdates"
            except="climate langKnowledge langKnown listEvent listNym  listOrg nym offset population sex socecStatus state terrain"/>
          <moduleRef key="transcr"
            except="listTranspose surface surfaceGrp metamark handNotes handNote zone"/>
          <moduleRef key="figures"/>
          <moduleRef key="textcrit"/>
          <moduleRef key="msdescription" except="handDesc handNote msItem typeDesc typeNote"/>
          <classSpec ident="model.physDescPart" type="model" mode="delete" module="msdescription"/>

          <elementSpec ident="accMat" module="msdescription" mode="change">
            <desc>This change removes <gi>accMat</gi> from the <gi>physDesc</gi>; it is then added to <gi>history</gi></desc>
            <classes>
              <memberOf key="model.physDescPart" mode="delete"/>
            </classes>
            <content>
              <macroRef key="macro.specialPara"/>
            </content>
          </elementSpec>

          <elementSpec ident="additions" module="msdescription" mode="change">
            <classes mode="change">
              <memberOf key="att.typed" mode="add"/>
              <memberOf key="att.datable" mode="add"/>
              <memberOf key="att.msClass" mode="add"/>
            </classes>
            <exemplum>
              <p>This is the original TEI example.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><additions>
              <p>There are several marginalia in this manuscript. Some consist
                of single characters and others are figurative. On 8v is to
                be found a drawing of a mans head wearing a hat. At times
                sentences occurs: On 5v: <q xml:lang="is">Her er skrif
                  andres isslendin</q>, on 19r: <q xml:lang="is">þeim
                    go</q>, on 21r: <q xml:lang="is">amen med aund ok munn
                      halla rei knar hofud summu all huad batar þad mælgi ok
                      mal</q>, On 21v: some runic letters and the sentence <q xml:lang="la">aue maria gracia plena dominus</q>.</p>
            </additions></egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium adds attributes for typing and dating, as in the following example
                from AA308NBKM.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <additions type="inscriptions">
              <locus>f. 131r</locus>
              <quote xml:lang="cu">вь лѣто зѯи҃ сиие лето бисть соуша велика
                не роди се<unclear>...</unclear>. бисть неволꙗ и зла. велика
                ѡ҃т҃ тоурци</quote>
            </additions></egXML>
            </exemplum>
            <remarks>
              <p>Repertorium adds attributes from the <code>att.msClass</code> to be the same as
                elements <gi>msContents</gi> and <gi>msItemStruct</gi>. </p>
            </remarks>
          </elementSpec>

          <elementSpec ident="altIdentifier" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="msName" minOccurs="0" maxOccurs="unbounded"/>
                <classRef key="model.placeNamePart" expand="sequenceOptional"/>
                <elementRef key="institution" minOccurs="0" maxOccurs="1"/>
                <elementRef key="repository" minOccurs="0" maxOccurs="1"/>
                <elementRef key="collection" minOccurs="0" maxOccurs="1"/>
                <elementRef key="idno" minOccurs="0" maxOccurs="1"/>
                <elementRef key="note" minOccurs="0" maxOccurs="1"/>
              </sequence>
            </content>
            <exemplum>
              <p>This is the original TEI example.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <altIdentifier>
                <settlement>San Marino</settlement>
                <repository>Huntington Library</repository>
                <idno>MS.El.26.C.9</idno>
              </altIdentifier></egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium adds the <gi>msName</gi> element as an optional and repeatable
                first child of <gi>altIdentifier</gi>, as in the following example from
                MDMarianus.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <altIdentifier select="171ff" xml:id="Grig6" type="partial">
                <msName type="individual" xml:lang="en">Grigorovič Gospel
                  Book</msName>
                <msName type="individual" xml:lang="bg">Григоровичово
                  четвероевангелие</msName>
                <msName type="individual" xml:lang="ru">Четвероевангелие
                  Григоровича</msName>
                <msName type="individual" xml:lang="en">Athonite Gospel
                  Book</msName>
                <msName type="individual" xml:lang="bg" select="whole">Атонско
                  четвероевангелие</msName>
                <msName type="individual" xml:lang="ru" select="whole">Афонское
                  четвероевангелие</msName>
                <country>Russia</country>
                <settlement>Moscow</settlement>
                <repository>Russian State Library</repository>
                <collection>В. Григорович</collection>
                <idno type="shelfmark">6</idno>
              </altIdentifier>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium model also permits <gi>altIdentifier</gi> as the last and
                repeatable child of <gi>altIdentifier</gi>, as in the following examples from
                NBKM500.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><altIdentifier xml:id="NBKM500">
              <country>Bulgaria</country>
              <settlement>Sofia</settlement>
              <repository>SS Cyril and Methodius National Library</repository>
              <idno type="shelfmark">500</idno>
              <altIdentifier>
                <idno type="catalogue">500</idno>
                <note>
                  <ref type="bibl" target="bib:Цонев1910">Цонев 1910:
                    35</ref>
                </note>
              </altIdentifier>
              <altIdentifier>
                <idno type="unioncatalogue">32</idno>
                <note>
                  <ref type="bibl" target="bib:Христова1982">Христова и
                    др. 1982: 30</ref>
                </note>
              </altIdentifier>
              <altIdentifier type="former">
                <idno type="shelfmark">184</idno>
              </altIdentifier>
            </altIdentifier>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="binding" module="msdescription" mode="change">
            <content>
              <sequence>
                <alternate>
                <elementRef key="summary" minOccurs="1" maxOccurs="1"/>
                  <elementRef key="summary" minOccurs="1" maxOccurs="1"/>
                </alternate>
                <elementRef key="condition" minOccurs="0" maxOccurs="1"/>
                <elementRef key="decoNote" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
	          <binding contemporary="true">
	            <summary>Contemporary blind stamped leather over wooden boards with
	              evidence of a fore edge clasp closing to the back cover.</summary>
	          </binding>
	        </egXML>
            </exemplum>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
	          <binding>
	            <summary>New, leather and cardboard</summary>
	            <decoNote type="cover">
	              <locus>On the back side of the upper cover:</locus> <stamp>angels with circles.</stamp>
	            </decoNote>
	          </binding>
	        </egXML>
            </exemplum>
            <remarks><p>Features specified in <gi>decoNote</gi> here may include: cover, plates, headbands,
              edges, clasps, sewing techniques, or any notes related to the binding.</p></remarks>
          </elementSpec>

          <elementSpec ident="collation" module="msdescription" mode="change">
            <content>
                <sequence>
                  <elementRef key="summary" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="quire" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="signatures" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="catchwords" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="gregoryRule" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="ruling" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="pricking" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </content>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <collation>
                <p>
                  <formula>1-5.8 6.6 (catchword, f. 46, does not match
                    following text) 7-8.8 9.10, 11.2 (through f. 82) 12-14.8
                    15.8(-7)</formula>
                  <catchwords>Catchwords are written horizontally in center or
                    towards the right lower margin in various manners: in
                    red ink for quires 1-6 (which are also signed in red ink
                    with letters of the alphabet and arabic numerals);
                    quires 7-9 in ink of text within yellow decorated
                    frames; quire 10 in red decorated frame; quire 12 in ink
                    of text; quire 13 with red decorative slashes; quire 14
                    added in cursive hand.</catchwords>
                </p>
              </collation>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The TEI content model is defined as <ident>macro.specialPara</ident> which contains
                paragraph-like elements and elements that can be contained by paragraphs. The
                Repertorium permits this type of content, but also provides a structured
                alternative, with specific child elements in a consistent order. The following
                example, which describes the collation of each quire in a structured way, is from
                DD437NBKM.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <collation>
                  <summary>12 quires</summary>
                  <formula>I-III<hi rend="sup">6</hi> + IV<hi rend="sup">7</hi> + V-VII<hi rend="sup">8</hi> + VIII<hi rend="sup">10</hi> + IX<hi rend="sup">8</hi> + X<hi rend="sup">10</hi> + XI<hi rend="sup">8</hi> + XII<hi rend="sup">8</hi></formula>
                </collation>
            </egXML>
            </exemplum>
            <exemplum>
              <p>Example from DD684NBKM.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <collation>
                <summary>35 quires of 8 folia; the last quire is of 8 folia, but
                  after that 2 folia were pasted later (ff. 261 and
                  262)</summary>
                <formula>I-XXXV<hi rend="sup">8</hi>+XXXI<hi rend="sup">8+2 (261-262)</hi></formula>
                <signatures>Original signatures in the beginning and in the end of each quire (<foreign xml:lang="cu">а҃ - л҃е</foreign>),
                  too.</signatures>
              </collation>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="colophon" mode="change" module="msdescription">
            <content>
              <alternate>
                <macroRef key="macro.phraseSeq"/>
                <sequence>
                  <classRef key="model.headLike" minOccurs="0" maxOccurs="1"/>
                  <classRef key="model.pLike" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
              </alternate>
            </content>
            <exemplum>
              <p>In TEI <gi>colophon</gi> is a phrase-level element. Because longer colophons may
                have headings and multiple paragraphs, we extend the TEI model to permit
                paragraph-line content items. The following example is from AB674NBKM.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <colophon>
                <head xml:lang="grc">Ο ΧΣ ΕΣΤΙ ΑΡΧΗ ΚΑΙ ΤΕΛΟΣ</head>
                <ab xml:lang="cu">Источникоу оубѡ на мѣстѣ сѫщꙋ и животныѫ воды
                  истачаѫщоу тѣмже и х҃с къ самарѣныни водѫ проси· женѫ даждъ
                  ми водѫ пити· и азъ дамъ тебѣ вѡдь пити ꙗко да въ вѣкы не
                  възъжѫждаѥши· тѣмже оубѡ и сиа книга источникоу есть
                  подобна· еѫже аще кто съ оусрѣдїемъ разгнѫвъ прочьтетъ,
                  напоитъ дш҃ѫ своѫ живоносныѫ и вѣчныѫ воды, и въ вѣкы не
                  възждѫждет сѧ: –</ab>
                <ab xml:lang="cu">Нѫ вы оубо прѣблазни г҃и мои, трїе въселенъстїи
                  ст҃ле· и оучителе григорїе, и василїе, и іѡанъ златооустъ
                  прїимѣте вашего раба ходага мита логоѳетѣ малое приношенїе,
                  вѣщанїа изрѧднаа бг҃ословаго грїгориїа·
                  прѣ<supplied>мѫ</supplied>драаго оучителѣ и наставника·
                  троици сѫпоклонника <supplied>с</supplied>ѫпостатѡмъ еѧ
                  раздрꙋшника, їересемъ прогонителѣ: –</ab>
                <ab xml:lang="cu">
                  <supplied>И</supplied>списавыи сиѫ книгѫ прьвославъ нарицаах
                  сѧ, самѣм, <supplied>по</supplied>велѣнїемъ всепочътенаго въ
                  велмѫжехъ бл҃гарскаго <supplied>цр҃с</supplied>тва логоѳетѣ
                  мита· тогда же прѣимѣѫщꙋ, хорѫгви
                  <supplied>бл҃</supplied>гарскаго стола, прѣвысокыи и
                  самодръжецъ всѣмъ <supplied>бл҃г</supplied>арѡм и гръкѡм
                  цр҃ъ і҃ѡ, алеѯандр꙽· и прї цр҃ци его
                  новопросвѣ<supplied>щ</supplied>еннои и бл҃говѣрнои
                  ѳеѡдорѣ. и при сн҃ѣ их шишман младѡм цр҃и <gap quantity="24" unit="character"/>· Молѧ же всѣкого искꙋснаго помощи и
                  напаствнном ѿ сѫпостата· не злословити недостаткꙋ ѡскѫднꙗаго
                  ꙋма поминаѫще <pb n="393v"/>
                  <gap quantity="12" unit="character"/>
                  <unclear>ꙗко</unclear> имѣѫ и съвръшеное, тъчиѫ е<gap quantity="1" unit="character"/> въ памѧтъ томꙋ самомꙋ
                  ве<supplied>ликомꙋ логоѳетꙋ м</supplied>итꙋ вѣчнѫѫ, и
                  бг҃одарованныи б҃е <gap/>
                  <unclear>идѡм</unclear>, зде и въ грѧдѫщомъ вѣцѣ, и нынѣ и
                  <supplied>присно</supplied> · въ вѣкы :· вѣкѡмъ :·
                  амин꙽·</ab>
              </colophon>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="countermark" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains information about a second, subsidiary watermark</desc>
            <content>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <textNode/>
                <classRef key="model.phrase"/>
                <elementRef key="motif"/>
              </alternate>
            </content>
            <attList>
              <attDef ident="recording">
                <desc>Describes the methods of recording of some watermark. Methods include:
                  hand-tracing, rubbing, etc.</desc>
                <datatype>
                  <dataRef key="teidata.word"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><material>
              <watermark recording="hand-tracing"><motif type="basic">Leo</motif>within <motif type="supplemental">circle</motif>
                surmounted by <motif type="secondary">quatrefoil</motif> and
                with <countermark>“AP”</countermark> similar to
                <ref>Nikolaev #125</ref> from the year <date cert="yes">1585</date>.</watermark>
            </material></egXML>
            </exemplum>
            <remarks>
              <p>Also called <term>counter watermark</term>. A <gi>countermark</gi> has the same
                content and attributes as the <gi>watermark</gi> element.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="crypto" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains a description of a cryptographic system used in a manuscript</desc>
            <classes mode="change">
              <memberOf key="att.global" mode="add"/>
              <memberOf key="att.typed" mode="add"/>
            </classes>
            <content>
              <macroRef key="macro.paraContent"/>
            </content>
            <exemplum>
              <p>The <att>type</att> attribute specifies that the method is a simple substitution
                cipher. The content of the element provides the mapping.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <crypto type="simpleSubstitution">а = ѳ, в = и, г = з, д = ѕ, к = п, л =
              о, м = ѯ, р = ц, с = ѡ, т = ѱ, у = х. The other letters are used
              in their regular meanings, without
              substitution.</crypto></egXML>
            </exemplum>
            <remarks>
              <p>The <gi>crypto</gi> element should be used in cases where encrypted letters or
                passages of text occur. The additional attribute <att>type</att> might identify the
                method, e.g., simple substitution cipher.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="date" module="core" mode="change">
            <exemplum>
              <p>References to dates in the church calendar should be encoded as <tag>date
                  type="churchCal"</tag>, and the <gi>date</gi> element should be a child of
                  <gi>msItemStruct</gi> (that is, not wrapped in a <gi>note</gi> element). Dates in
                the attributes <att>when</att>, <att>notBefore</att>, and <att>notAfter</att> must
                be in ISO format. This means that dates that consist of just a year must be
                expressed with exactly four digits (using a leading zero for years before 1000).
                Year plus month must be formatted as <val>YYYY-MM</val>. Month plus date (for
                example, in the church calendar) require two leading hyphens, i.e.,
                  <val>-MM-DD</val>. For more information see <ptr
                  target="https://en.wikipedia.org/wiki/ISO_8601"/>.The following example is from
                MP408G.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><msItemStruct xml:id="ACD3" type="translation">
              <locus n="3">39r-58r</locus>
              <title xml:lang="bg">Житие на св. Текла</title>
              <date type="churchCal" when="-09-24">24. September</date>
              <filiation type="protograph">Bulgarian</filiation>
              <filiation type="antigraph">Middle Bulgarian</filiation>
              <re:sampleText xml:lang="cu">
                <explicit>И погребоше тѣло ѥе вь, бь нѥмже паметь творимь
                  м҃сца Септембрѣ кд҃ д҃нь</explicit>
              </re:sampleText>
            </msItemStruct></egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="gregoryRule" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains a description of the layout of the parchment according to the Gregory
              rule</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <macroRef key="macro.phraseSeq"/>
            </content>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><gregoryRule>HS|FS-FS|HS-HS|FS-FS|HS=HS|FS-FS|HS-HS|FSFS|HS</gregoryRule></egXML>
            </exemplum>
            <remarks>
              <p>There are two common abbreviations: <term>HS</term> for the hair (dark) side, and
                  <term>FS</term> for the flesh (light) side of the parchment. Therefore, the
                content of this element is a sequence of <term>HS</term> and <term>FS</term>
                abbreviations. The sign <q>|</q> separates pages, <q>–</q> separates folios, and
                  <q>=</q> signifies the middle of the quire.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="history" module="msdescription" mode="change">
            <content>
                <sequence>
                  <elementRef key="summary" minOccurs="0"/>
                  <elementRef key="origin" minOccurs="0"/>
                  <elementRef key="accMat" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="provenance" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="acquisition" minOccurs="0"/>
                </sequence>
            </content>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <history>
                <origin>
                  <p>Written in Durham during the mid twelfth century.</p>
                </origin>
                <provenance>
                  <p>Recorded in two medieval catalogues of the books
                    belonging to Durham Priory, made in 1391 and 1405.</p>
                </provenance>
                <provenance>
                  <p>Given to W. Olleyf by William Ebchester, Prior (1446-56)
                    and later belonged to Henry Dalton, Prior of Holy Island
                    (Lindisfarne) according to inscriptions on ff. 4v and
                    5.</p>
                </provenance>
                <acquisition>
                  <p>Presented to Trinity College in 1738 by Thomas Gale and
                    his son Roger.</p>
                </acquisition>
              </history>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium removes <gi>accMat</gi> from <ident>model.physDescPart</ident> and
                adds it to the content of the element <gi>history</gi></p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <history>
                <origin evidence="catalogue" resp="#NG">
                  <origDate cert="high" evidence="internal" notBefore="1348" notAfter="1348">1348</origDate>
                  <origPlace>Unknown</origPlace>
                </origin>
                <accMat>
                  <locus>binding</locus> From the hand of <name>Arsenij Suhanov</name> is the following
                  inscripition: <q>163-го (7163=1655) взята изъ кѣльи госусаря
                    патриарха</q>
                </accMat>
                <provenance>The MSS. was (probably) in Valahia or Moldova, then
                  - in monastery "St.Pavel", Mount Athos, and was discovered
                  by Arsenij Suhanov in the monastery skit "St. Joan
                  Milostivi" and was taken in Pathriarhal (Synodal) library in
                  1655.</provenance>
              </history>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="ink" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains a description of ink(s)</desc>
            <classes mode="change">
              <memberOf key="att.global" mode="add"/>
              <memberOf key="att.measurement" mode="add"/>
            </classes>
            <content>
              <macroRef key="macro.phraseSeq"/>
            </content>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><ink>Brown ink for the
              text and dark red for the initials</ink>
            </egXML>
            </exemplum>
            <remarks>
              <p>Information about ink is presented usually as a simple phrase like <q>brown dark
                  ink for the basic text and red ink for the headings and small initials</q>. In
                principle these descriptions could be further developed to supply information about
                ink composition, brightness, loss of color, etc.</p>
            </remarks>
          </elementSpec>

<!--
          <elementSpec ident="layout" module="msdescription" mode="change">
            <classes mode="change">
              <memberOf key="att.measurement" mode="add"/>
            </classes>
          </elementSpec>
-->          
          <elementSpec ident="langNote" module="msdescription" mode="add"
            ns="http://www.ilit.bas.bg/repertorium/ns/3.0">
            <desc>allows structured description of language characteristics of the scribe</desc>
            <classes mode="change">
              <memberOf key="att.global" mode="add"/>
              <memberOf key="att.typed" mode="add"/>
              <memberOf key="att.datcat" mode="add"/>
              <memberOf key="att.canonical" mode="add"/>
            </classes>
            <content>
              <macroRef key="macro.specialPara"/>
            </content>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <langNote xmlns:dcr="http://www.isocat.org/ns/dcr" dcr:datcat="http://linguistics-ontology.org/gold/2010/Lexicon" type="lexis">
                  <list xml:id="lexis">
                    <item>The manuscript uses lexis which is believed to be typical
                      of the earliest Gospel translation from Greek, cf. the use
                      of the archaic lexemes <foreign xml:lang="cu"
                        >баль</foreign>, <foreign xml:lang="cu">жаль</foreign>,
                      <foreign xml:lang="cu">миса</foreign>, <foreign
                        xml:lang="cu">шюи</foreign>, <foreign xml:lang="cu"
                          >братръ</foreign>, <foreign xml:lang="cu"
                            >небесьскъ</foreign>, <foreign xml:lang="cu"
                              >неприѣзнь</foreign>, <foreign xml:lang="cu"
                                >пропѧти</foreign>, <foreign xml:lang="cu"
                                  >иночѧдъ</foreign>, <foreign xml:lang="cu"
                                    >врътъ</foreign>, <foreign xml:lang="cu"
                                      >искрьнъ</foreign>, <foreign xml:lang="cu"
                                        >грѧсти</foreign> could prove this hypothesis.</item>
                    <item>Also, in word-formation the manuscript prefers the old
                      suffix -<foreign xml:lang="cu">ицеѫ</foreign> and not
                      -<foreign xml:lang="cu">-ждьі</foreign>. Still, the
                      following forms are considered to be relatively later:
                      <foreign xml:lang="cu">благодать</foreign>, <foreign
                        xml:lang="cu">написание</foreign>, <foreign
                          xml:lang="cu">дрѧхлъ</foreign>. </item>
                  </list>
                </langNote>
              </egXML>
            </exemplum>
            <remarks>
              <p>Features specified in <gi>langNote</gi> may include all language levels.</p>
            </remarks>
          </elementSpec>
            
          <elementSpec ident="motif" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <gloss>Watermark image type</gloss>
            <desc>contains information about a watermark motif</desc>
            <classes mode="change">
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <textNode/>
                <classRef key="model.phrase"/>
                <elementRef key="motif"/>
              </alternate>
            </content>
            <exemplum>
              <p>The following example represents the motif of <q>anchor in circle with 5-point star
                  above</q>.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><motif type="basic">anchor</motif>in <motif type="supplemental">circle</motif> with
              <motif type="secondary">star/5-point</motif> above.</egXML>
            </exemplum>
            <exemplum>
              <p>The <gi>watermark</gi> example below includes three <gi>motif</gi> child elements,
                identifying basic, supplemental, and secondary features.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><watermark tracing="drawing"><motif type="basic">Leo</motif> within <motif type="supplemental">circle</motif> surmounted by <motif type="secondary">quatrefoil</motif> and with
              <countermark>“AP”</countermark>, similar to <ref>Nikolaev
                #125</ref> from the year <date cert="high">1585</date>.</watermark></egXML>
            </exemplum>
            <remarks>
              <p>The element <gi>motif</gi> is the most important part of the watermark description
                because it provides access to a formal terminological apparatus of watermark design.
                There are several ways to specify motif information: <list>
                  <item>In the absence of reference books and watermark albums, simply as plain
                    text</item>
                  <item>If a more complicated motif is present and the encoder would like to provide
                    full compatibility with professional watermark databases, with the attribute
                      <att>type</att></item>
                  <item>By <q>secondary</q> is meant designs above or below the basic motif.
                    Frequently used motifs above the basic one include bird, cross, flower,
                    monogram, monogram with a combination with figures (e.g., monogram <q>BA</q> and
                    cross), ramrod, different star shapes, star and monogram, trefoil, etc.
                    Frequently used motifs below the basic one include grapes, monogram, etc.</item>
                  <item>By <q>supplemental</q> is meant supplemental characteristics of the basic
                    motif, e.g., in circle, in oval, in shield, etc.</item>
                </list></p>
            </remarks>
          </elementSpec>

          <elementSpec ident="msContents" module="msdescription" mode="change">
            <content>
                <sequence>
                  <elementRef key="summary" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="title" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="author" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded"/>
                  <classRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="filiation" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="decoNote" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="sampleText" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="msItemStruct" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </content>
            <attList>
              <attDef ident="type" usage="opt">
                <desc>describes the type of the text</desc>
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
                <valList type="closed">
                  <valItem ident="original">
                    <desc>the text is original</desc>
                  </valItem>
                  <valItem ident="compilation">
                    <desc>the text is compiled from various sources</desc>
                  </valItem>
                  <valItem ident="translation">
                    <desc>the text is translated</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msContents>
                <summary>A collection of Lollard sermons</summary>
                <msItem n="1">
                  <locus>fol. 4r-8r</locus>
                  <title>3rd Sunday Before Lent</title>
                </msItem>
                <msItem n="2">
                  <locus>fol. 9r-16v</locus>
                  <title>Sexagesima</title>
                </msItem>
              </msContents>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium adds an optional <att>type</att> attribute with three possible
                values: <val>original</val>, <val>compilation</val>, and <val>translation</val>. The
                Repertorium also extents the element content by adding an optional
                  <gi>sampleText</gi> (q.v.; a wrapper for citations from the manuscript) and an
                optional <gi>div</gi>. In the Repertorium, content items must be tagged as
                  <gi>msItemStruct</gi>; the unstructured <gi>msItem</gi> element has been excluded
                from the Repertorium model.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msContents type="compilation">
                <filiation type="protograph">Bulgarian</filiation>
                <filiation type="antigraph">Middle Bulgarian</filiation>
                <msItemStruct xml:id="ACD1">
                  <locus n="1">4r-8r</locus>
                  <title xml:lang="bg">Видение на цар Амфилохий</title>
                  <filiation type="protograph">Bulgarian</filiation>
                  <filiation type="antigraph">Middle Bulgarian</filiation>
                  <re:sampleText xml:lang="cu">
                    <head>Видѣнїе Амфилѡга царѧ Аравїе</head>
                    <incipit>Гл҃еть Баронїи хронографъ римскїи</incipit>
                  </re:sampleText>
                </msItemStruct>
                <!-- other items -->
              </msContents>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="msDesc" module="msdescription" mode="change">
            <content>
                    <sequence>
                      <elementRef key="msIdentifier"/>
                      <classRef key="model.headLike" minOccurs="0"/>
                      <elementRef key="physDesc" minOccurs="0"/>
                      <elementRef key="scribeDesc" minOccurs="0"/>
                      <elementRef key="msContents" minOccurs="0"/>
                      <elementRef key="history" minOccurs="0"/>
                      <elementRef key="additional" minOccurs="0"/>
                      <elementRef key="msPart" minOccurs="0" maxOccurs="unbounded"/>
                      <elementRef key="msFrag" minOccurs="0" maxOccurs="unbounded"/>
                    </sequence>
            </content>
            <remarks>
              <p>The Repertorium removes the <gi>p</gi> element in favour of structured description</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="msIdentifier" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="msName" minOccurs="0" maxOccurs="unbounded"/>
                <classRef key="model.placeNamePart" expand="sequenceOptional"/>
                <elementRef key="institution" minOccurs="0"/>
                <elementRef key="repository" minOccurs="0"/>
                <elementRef key="collection" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="idno" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="altIdentifier" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
            <remarks>
              <p>The Repertorium puts <gi>msName</gi> first, in keeping with common Slavistic
                cataloguing practice. We also allow <gi>note</gi> as child element.</p>
            </remarks>
          </elementSpec>
<!-- Added altidentifier from TEI but allow it to appear unbounded Reprtorium 3.3: atb -->
         
          <elementSpec ident="msFrag" module="msdescription" mode="change">
            <content>
              <sequence>
                <elementRef key="msIdentifier"/>
                    <elementRef key="physDesc" minOccurs="0"/>
                    <elementRef key="scribeDesc" minOccurs="0"/>
                    <elementRef key="msContents" minOccurs="0"/>
                    <elementRef key="history" minOccurs="0"/>
                    <elementRef key="additional" minOccurs="0"/>
                    <elementRef key="msPart" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
          </elementSpec>

          <elementSpec ident="msItemStruct" module="msdescription" mode="change">
            <content>
              <sequence>
                <alternate minOccurs="0">
                  <elementRef key="locus"/>
                  <elementRef key="locusGrp"/>
                </alternate>
                  <sequence>
                    <elementRef key="title" minOccurs="0" maxOccurs="1"/>
                    <elementRef key="author" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="respStmt" minOccurs="0" maxOccurs="1"/>
                    <elementRef key="date" minOccurs="0" maxOccurs="unbounded"/>
                    <classRef key="model.noteLike" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="filiation" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="textLang" minOccurs="0" maxOccurs="1"/>
                    <elementRef key="decoNote" minOccurs="0" maxOccurs="unbounded"/>
                      <elementRef key="sampleText" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="msItemStruct" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="listBibl" minOccurs="0" maxOccurs="unbounded"/>
                    <elementRef key="bibl" minOccurs="0" maxOccurs="unbounded"/>
                  </sequence>
              </sequence>
            </content>
            <attList>
              <attDef ident="type">
                <desc>describes the type of the text</desc>
                <datatype>
                  <dataRef key="teidata.enumerated"/>
                </datatype>
                <valList type="closed">
                  <valItem ident="original">
                    <desc>the text is original</desc>
                  </valItem>
                  <valItem ident="compilation">
                    <desc>the text is compiled from variuos sources</desc>
                  </valItem>
                  <valItem ident="translation">
                    <desc>the text is translated</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msItemStruct n="2" defective="false" class="#biblComm">
                <locus from="24v" to="97v">24v-97v</locus>
                <author>Apringius de Beja</author>
                <title type="uniform" xml:lang="la">Tractatus in
                  Apocalypsin</title>
                <rubric>Incipit Trac<supplied reason="omitted">ta</supplied>tus
                  in apoka<lb/>lipsin eruditissimi uiri <lb/> Apringi
                  ep<ex>iscop</ex>i Pacensis eccl<ex>esi</ex>e</rubric>
                <finalRubric>EXPLIC<ex>IT</ex> EXPO<lb/>SITIO APOCALIPSIS
                  QVA<ex>M</ex> EXPOSVIT DOM<lb/>NVS APRINGIUS
                  EP<ex>ISCOPU</ex>S. DEO GR<ex>ACI</ex>AS AGO.
                  FI<lb/>NITO LABORE ISTO.</finalRubric>
                <bibl>
                  <ref target="http://amiBibl.xml#Apringius1900">Apringius</ref>, ed. Férotin</bibl>
                <textLang mainLang="la">Latin</textLang>
              </msItemStruct>
            </egXML>
            </exemplum>
            <exemplum>
              <p>Repertorium makes significant changes in the content of this element. A new
                attribute <att>type</att> with three possible values is added: <val>original</val>,
                  <val>compilation</val>, and <val>translation</val>. Places of elements
                  <gi>title</gi> and <gi>author</gi> are in different order: first is the title, and
                then author. The TEI <gi>date</gi> element is provided as a way of representing
                dates in the church calendar for liturgical material (<tag>date type="churchCal"
                  when="--09-24"</tag>). Elements <gi>incipit</gi>, <gi>explicit</gi>,
                  <gi>rubric</gi> are children of the <gi>re:sampleText</gi> element, which is in
                the Repertorium namespace. We include here the element <gi>div</gi> for cases where
                an edition of previously unknown text or its recension is described in detail.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msItemStruct xml:id="ACD1" type="translation">
                <locus n="1">1r-15v</locus>
                <title xml:lang="bg">Физиолог</title>
                <note>The copy represents first group of the second
                  Physiologus's translation in South Slavic literature; other
                  similar copies: No. 149 NB - Wien, 16th c.; No. 433 NBKM -
                  Sofia, second half of the 16th c. <ref type="bibl" target="bib:Стойкова1994">Стойкова 1994: 53–54,
                    70–71</ref>
                </note>
                <filiation type="source">
                  <ref type="bibl" target="bib:Sbordone1936">Sbordone
                    1936:218-221</ref> (approximate text)</filiation>
                <filiation type="translation">2</filiation>
                <filiation type="protograph">Bulgarian</filiation>
                <filiation type="antigraph">Antigraph of No. 433 and No.
                  149?</filiation>
                <filiation type="litRedaction">1</filiation>
                <sampleText xmlns="http://www.ilit.bas.bg/repertorium/ns/3.0" xml:lang="cu">
                  <head>Слово ѡ въсѣх вещеи ходещихъ и летещи<seg rend="sup">х</seg>
                  </head>
                </sampleText>
                <msItemStruct xml:id="ACD1.1">
                  <locus n="1">1r-1v</locus>
                  <title xml:lang="bg">Физиолог. За лъва</title>
                  <sampleText xmlns="http://www.ilit.bas.bg/repertorium/ns/3.0" xml:lang="cu">
                    <head>Слово за лъва о ц҃ри ѕвѣрстѣ<seg rend="sup">м</seg>.</head>
                    <rubric>фисиолѡгь р<seg rend="sup">еч</seg>е ѡ лъвѣ.
                      о҃че бл<seg rend="sup">с</seg>ви</rubric>
                    <incipit>Лъвь ѥ<seg rend="sup">с</seg> имѣе дѣла велика
                      три. къ с҃тѣи тр<seg rend="sup">о</seg>ици
                      примолѥнь. лъво<seg rend="sup">в</seg> ѥ<seg rend="sup">с</seg> пръво дѣло. егда раж<seg rend="sup">д</seg>аеть лъвица.</incipit>
                  </sampleText>
                </msItemStruct> ... </msItemStruct>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="msPart" module="msdescription" mode="change">
            <content>
              <sequence>
                <alternate minOccurs="0">
                  <elementRef key="locus"/>
                  <elementRef key="locusGrp"/>
                </alternate>
                <elementRef key="msIdentifier" minOccurs="0"/>
                    <elementRef key="physDesc" minOccurs="0"/>
                    <elementRef key="scribeDesc" minOccurs="0"/>
                    <elementRef key="msContents" minOccurs="0"/>
                    <elementRef key="history" minOccurs="0"/>
                    <elementRef key="additional" minOccurs="0"/>
                    <elementRef key="msPart" minOccurs="0"/>
              </sequence>
            </content>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msDesc>
                <msIdentifier>
                  <settlement>Amiens</settlement>
                  <repository>Bibliothèque Municipale</repository>
                  <idno>MS 3</idno>
                  <msName>Maurdramnus Bible</msName>
                </msIdentifier>
                <msContents>
                  <summary xml:lang="lat">Miscellany of various texts;
                    Prudentius, Psychomachia; Physiologus de natura
                    animantium</summary>
                  <textLang mainLang="lat">Latin</textLang>
                </msContents>
                <physDesc>
                  <objectDesc form="composite_manuscript"/>
                </physDesc>
                <msPart>
                  <msIdentifier>
                    <idno>ms. 10066-77 ff. 140r-156v</idno>
                  </msIdentifier>
                  <msContents>
                    <summary xml:lang="lat">Physiologus</summary>
                    <textLang mainLang="lat">Latin</textLang>
                  </msContents>
                </msPart>
                <msPart>
                  <msIdentifier>
                    <altIdentifier>
                      <idno>MS 6</idno>
                    </altIdentifier>
                  </msIdentifier>
                  <!-- other information specific to this part here -->
                </msPart>
                <!-- more parts here -->
              </msDesc>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium adds the <att>type</att> attribute to <gi>msPart</gi> (values might
                include <val>partial</val>, <val>palimpsest</val>), and it also adds
                  <gi>msIdentifier</gi> and <gi>altIdentifier</gi> to the content model. The
                following example of a convolute is from AM1-108O.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msPart n="1">
                <locus>f. 1</locus>
                <physDesc>
                  <objectDesc>
                    <supportDesc material="paper">
                      <support>
                        <material>Paper</material>
                        <watermark>none</watermark>
                      </support>
                      <extent> ... </extent>
                      <condition>the folio seems to have been added to the
                        book later</condition>
                    </supportDesc>
                    <layoutDesc>
                      <p><!-- stuff about layout of part 1 --></p>
                    </layoutDesc>
                  </objectDesc>
                </physDesc>
                <re:scribeDesc>
                  <!-- stuff about the scribe of part 1 -->
                </re:scribeDesc>
                <msContents>
                  <msItemStruct xml:id="ACD1" type="translation">
                    <locus n="1">1r-1v</locus>
                    <title xml:lang="bg">Съдържание на втората книга на Паноплия догматики</title>
                    <note>without end</note>
                    <re:sampleText xml:lang="cu">
                      <head>Книга догматики паноплїе, втораа.</head>
                      <incipit>Титле вторые книги, г҃и.</incipit>
                      <explicit defective="true"> ег<seg rend="sup">д</seg>а ѿ гж<seg rend="sup">д</seg>е своѥе,
                        шьствоваше<gap/>
                      </explicit>
                    </re:sampleText>
                  </msItemStruct>
                </msContents>
              </msPart>
              <msPart n="2" xml:id="Gerasim">
                <locus>f. 2.</locus>
                <!-- stuff about part 2 -->
              </msPart>
              <msPart n="3">
                <locus>ff. 3-35</locus>
                <!-- stuff about part 3 -->
              </msPart>
              <msPart n="4">
                <locus>ff. 36-59</locus>
                <!-- stuff about part 24 -->
              </msPart>
              <msPart n="5">
                <locus>ff. 61-72</locus>
                <!-- stuff about part 5 -->
              </msPart>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="musicNotation" module="msdescription" mode="change">
            <classes mode="change">
              <memberOf key="att.typed" mode="add"/>
            </classes>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <musicNotation>Neumes in <term>campo aperto</term> of the St. Gall
                type.</musicNotation>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium adds a <add>type</add> attribute to identify the type of notational
                system, as in the following example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <musicNotation type="theta">Theta-notation is used together with double okseia,
              double vareia (Piesma), and double
              apostrophos.</musicNotation></egXML>
            </exemplum>
          </elementSpec>


          <elementSpec ident="pagination" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains information about the pagination of the codex, separately from
              information about the foliation</desc>
            <classes mode="change">
              <memberOf key="att.global"/>
              <memberOf key="att.scoping"/>
            </classes>
            <content>
              <macroRef key="macro.specialPara"/>
            </content>
            <exemplum>
              <p>The following example is from the electronic description of MS Pogodin 1204 by
                Antoaneta Granberg.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
               <foliation>original,
              from <date>1805</date></foliation></egXML>
            </exemplum>
            <remarks>
              <p>The Repertorium adds a <gi>pagination</gi> element so that pagination and foliation
                (represented by the standard TEI <gi>foliation</gi> element) can be described
                separately. The <gi>pagination</gi> element, like the <gi>foliation</gi> element,
                may include information about when the pagination was made, whether it is original,
                and how the folios are marked or numbered.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="physDesc" mode="change" module="msdescription">
            <content>
                <sequence>
                  <elementRef key="summary" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="objectDesc" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="ink" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="decoDesc" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="bindingDesc" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="sealDesc" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="additions" minOccurs="0" maxOccurs="1"/>
                </sequence>
            </content>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <physDesc>
                <objectDesc form="codex">
                  <supportDesc material="parch">
                    <support>Parchment.</support>
                    <extent>i + 55 leaves <dimensions scope="all" type="leaf" unit="inch">
                      <height>7¼</height>
                      <width>5⅜</width>
                    </dimensions>
                    </extent>
                  </supportDesc>
                  <layoutDesc>
                    <layout columns="2">In double columns.</layout>
                  </layoutDesc>
                </objectDesc>
                <handDesc>
                  <p>Written in more than one hand.</p>
                </handDesc>
                <decoDesc>
                  <p>With a few coloured capitals.</p>
                </decoDesc>
              </physDesc>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium eliminates the elements <gi>handDesc</gi> and <gi>typeDesc</gi>.
                The element <gi>scriptDesc</gi> is moved into the contents of the element
                  <gi>scribeDesc</gi>. The element <gi>accMat</gi> is moved to <gi>history</gi>. The
                element <gi>re:ink</gi> is added in the Repertorium namespace. The following example
                is from DRA787a10Stock.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <physDesc>
                <objectDesc form="fragment">
                  <supportDesc material="parch">
                    <support>
                      <material>Parchment of very fine quality. Ff.1r-2v
                        and 2r-v (2 bifolia) both represents F-H, H-F
                        sides sequences.</material>
                    </support>
                    <extent>
                      <measure unit="folia">4</measure>
                      <dimensions unit="mm" type="folia">
                        <height>ca218</height>
                        <width>ca310</width>
                      </dimensions>
                    </extent>
                    <foliation>Ff. 1v-8v are signed in pencil as follows:
                      10:A, 10: B, 10: C, 10: D in the upper right-hand
                      corner. </foliation>
                    <condition>It is a 4-leaf fragment composing to bifolia,
                      as ff. 1 and 2 are detached. The parcment has
                      retained much of its original light colour and the
                      original size. Ff. 1r, 2v, 3r and 3v have served as
                      document covers and are darker. There are number of
                      stains. </condition>
                  </supportDesc>
                  <layoutDesc>
                    <layout columns="1" writtenLines="18" ruledLines="18"/>
                  </layoutDesc>
                </objectDesc>
                <re:ink>Brownish for the main text, red and gold for the titles
                  and the initials.</re:ink>
                <decoDesc>
                  <p>Initials <foreign xml:lang="cu">В</foreign> on f. 1r - 55
                    mm (5 lines) of height, almost outside the text column,
                    <foreign xml:lang="cu">В</foreign> on f. 2r - 45mm
                    of height, outside the text column and descending into
                    the lower margin, <foreign xml:lang="cu">Р</foreign> on
                    f. 5v - 55 mm (5 lines) of height, outside the text
                    column, and <foreign xml:lang="cu">Р</foreign> on ff. 8v
                    - 55 mm (5 lines) of height, outside the text column.
                    All initials are red covered with gold. The same
                    technique is applied to the rubrics (headings)
                    introducing the corresponding readings.</p>
                </decoDesc>
                <bindingDesc>
                  <binding>
                    <p>Kept together with other parchment fragments
                      (A787a)</p>
                  </binding>
                </bindingDesc>
                <additions type="inscriptions">
                  <list>
                    <item>
                      <locus>f. 1r</locus>
                      <quote xml:lang="se">Lille Savolax p anno 1618
                        <lb/>Sigfrids Hindersons Opbördzlängds</quote>
                    </item>
                    <item>
                      <locus>f. 3r</locus>
                      <quote xml:lang="se">Sigfred Henricksons Reckenskap
                        <lb/>på Viborgz Lähn af Lille Sauolax för årh
                        <lb/>1617, 618 och 619</quote>
                    </item>
                  </list>
                </additions>
              </physDesc>
            </egXML>
            </exemplum>
          </elementSpec>
          
          <elementSpec ident="pricking" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains a description of pricking patterns in the manuscript</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <macroRef key="macro.phraseSeq"/>
            </content>
            <exemplum>
              <p>The following example is from DUL MS Cosin V.II.17 Anseis de Carthage, Ogier le
                Danois (in French) s. xiii2 description (<ptr
                  target="http://www.dur.ac.uk/library/asc/theme/medmss/apvii17/"/>), encoded
                according to the Repertorium model.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><pricking>Pricking in
              outer margins only, probably through folded quires, from front
              to back.</pricking></egXML>
            </exemplum>
            <exemplum>
              <p> The following example is from the web-based electronic description of St. Alban’s
                Psalter (<ptr target="http://www.abdn.ac.uk/~lib399/english/essays/codicology.shtml"
                />), encoded according to the Repertorium model.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <pricking>Most prick marks have been trimmed off. On p 112, 6 prick
                marks are visible on the outer margin. On p 417, thirteen prick
                marks at 9mm intervals remain on the outer margin. There is no
                pricking on the inner margins.</pricking></egXML>
            </exemplum>
            <remarks>
              <p>Descriptions of pricking are rare in the literature, although, as explained by
                Jones (1946a, 1946b), they could bear information on scriptorial techniques.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="quire" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains information that describes a quire or set of quires</desc>
            <classes mode="change">
              <memberOf key="att.global"/>
            </classes>
            <content>
                  <elementRef key="extent"/>
            </content>
            <exemplum>
              <p>In the following example, the first quire of the manuscript consists of 8 ff., all
                of which, with the exception of the f. 7, are now missing. Quires II through XXI
                have 8 ff. each. From quire XXII one folio (7) is missing. The last quire, number
                XXIII, consisted originally of 6 ff., but only 2 of them (5 and 6) are preserved
                intact.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <collation>
                <quire n="I"><extent>2</extent><formula>8 (-1-2-3-4-5-6)
                </formula></quire>
                <quire n="II-XXI"><extent>8</extent></quire>
                <quire n="XXII"><extent>7</extent><formula>7 (-7)</formula>
                </quire>
                <quire n="XXIII"><extent>2</extent><formula>6 (-1-2-3-4)
                </formula></quire>
              </collation>
            </egXML>
            </exemplum>
            <remarks>
              <p>Relevant information includes number, composition, how and where quires are marked,
                and with the assistance of what tool, etc. The child element <gi>formula</gi>
                provides information about how the quire is composed, of how many folia, etc.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="ruling" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains information about ruling lines in the manuscript</desc>
            <classes mode="change">
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <macroRef key="macro.phraseSeq"/>
            </content>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <ruling>
              <formula>1+1 1/1</formula>
            </ruling>
              </egXML>
            </exemplum>
            <remarks>
              <p>Two kinds of information can be entered in the <gi>ruling</gi> element. The first
                is related to the ruling type defined by researchers like Leroy (1976) or Gilissen
                (1977), who attempted to propose well-defined typologies of ruling types. In the
                other, information is related to the place of ruling in the quire, or the so called
                  <q>scheme</q>. The former be expressed as a formula of ruled lines for writing,
                and the latter could be visualized as simple graphic showing the places in the quire
                where the ruling is accomplished, e.g.: <q>&gt;&gt; | &gt; | |&lt; |&lt;&lt; =
                  &gt;&gt;| &gt;| |&lt; | &lt;&lt;</q>. This scheme means that in this quire the
                ruling is made for each of the two folia: once for the outer double leaf and once
                for the inner one (double sign <q>&gt;&gt;</q> or <q>&lt;&lt;</q>). The symbols
                  <q>&gt;</q> or <q>&lt;</q> mean that on the leaf there is just a trace of the
                ruling made on the previous leaf. The attribute <att>type</att> can be used to
                provide information about the classification scheme (e.g., Gilissen or Leroy)
                employed.</p>
            </remarks>
          </elementSpec>
          
          <elementSpec ident="sampleText" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>wraps samples from the manuscript, both those with specific identities (such as
                <gi>head</gi>, <gi>incipit</gi>, etc.) and general ones (tagged as
              <gi>p</gi>)</desc>
            <classes mode="change">
              <memberOf key="att.divLike"/>
              <memberOf key="att.declaring"/>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <sequence>
                <elementRef key="label" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="rubric" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="head" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="rubric" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="incipit" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="rubric" minOccurs="0" maxOccurs="unbounded"/>
                <alternate minOccurs="0" maxOccurs="unbounded">  
                <elementRef key="ab" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="sampleText" minOccurs="0" maxOccurs="unbounded"/>
                </alternate>
                <elementRef key="colophon" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="explicit" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="finalRubric" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
            <exemplum>
              <p>The following example is from the electronic description of DA1039NBKM.xml.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><sampleText xml:lang="cu" script="cyrs">
              <head>Mсц҃а тогожде · е҃· дн҃ь · словѡ · ѡ рождьствѣ іѡана
                прт҃че и ѡ оумрьтїоу ѡц҃а его захарїе ѡч҃е бл҃сви · </head>
              <incipit>Вь лѣто четврьтодесетноѥ црс҃твоующоу иродоу вьзысканиѥ
                сьтвори изьбити млд҃нце, иже вь іерс҃лимѣ</incipit>
              <explicit>.црс҃твова же архела ѳ҃ лѣт҃ испльнь. вь нас же
                црс҃твоующоу бо҃у нашемоу ісо҃у хс҃оу· емоу же слав(а) сь
                ѡц҃емь и сь ст҃мь дх҃омь нн҃ꙗ и присно и в вѣкы вѣкѡм(ь)
                аминь.</explicit>
            </sampleText></egXML>
            </exemplum>
            <remarks>
              <p>The Repertorium uses a special <gi>sampleText</gi> element as a wrapper around
                several elements used for the identification of text items in a manuscript. Its
                function is to make a distinction between the language of the description (metadata
                used to describe the manuscript) and citations from the original text. The
                  <gi>sampleText</gi> element uses the global TEI attribute <att>xml:lang</att>,
                which represents the language of the content, and for medieval Slavonic codices its
                value is almost always <val>cu</val>. The optional attribute <att>script</att>
                commonly contains the value <val>Cyrs</val> (for old Cyrillic) or <val>Glag</val>
                (for Glagolitic).</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="scribe" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains a description of the paleography, orthography, and language of a
              scribe</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <sequence>
                <alternate minOccurs="0" maxOccurs="1">
                <elementRef key="locus"/>
                <elementRef key="locusGrp"/>
              </alternate>
              <classRef key="model.nameLike.agent" minOccurs="0" maxOccurs="1"/>
              <elementRef key="scriptDesc" minOccurs="0" maxOccurs="1"/>
              <elementRef key="scribeLang" minOccurs="0" maxOccurs="1"/>
              <elementRef key="bibl" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
              <elementRef key="respStmt" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
            </content>
            <exemplum>
              <p>In the example below, the portions of the manuscript written by Scribe 5 are
                identified in a <gi>locusGrp</gi>, followed by a general characterization of the
                paleography (<gi>scriptDesc</gi>). See the separate documentation of the
                Repertorium <gi>scribeLang</gi>, and <gi>langNote</gi> elements.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><scribe n="E"><locusGrp><locus>Q.п.I.63, 1r-3r</locus>
                <locus>Sin. 34, 63v-71v</locus><locus>Sin. 34, 77r-81r
                </locus></locusGrp>
              <scriptDesc>
                <scriptNote  script="Cyrs" style="uncial"/>
              </scriptDesc>
              <scribeLang><summary>Middle Bulgarian with Russian
                features</summary>  
                <langNote key="orthography">Only <foreign xml:lang="cu">ь</foreign>; <foreign xml:lang="cu">ѫ</foreign> replaced by
                <foreign xml:lang="cu">оу</foreign>; <foreign xml:lang="cu"
                  >ѧ</foreign> replaced by <foreign xml:lang="cu">a</foreign>;
                <foreign xml:lang="cu">ы</foreign>; <foreign xml:lang="cu"
                  >ѥ</foreign> and <foreign xml:lang="cu">ѩ</foreign>
                  </langNote>
                …
              </scribeLang></scribe></egXML>
            </exemplum>
            <remarks>
              <p>The <gi>scribe</gi> element combines a modification of the TEI <gi>scriptDesc</gi>
                element with the Repertorium-specific <gi>scribeLang</gi> element.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="scribeDesc" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>serves as a wrapper for <gi>scribe</gi> elements, so that the characteristics of
              each scribe can be described separately, while also being bundled together</desc>
            <classes mode="change">
              <memberOf key="att.global"/>
            </classes>
            <content>
                <sequence>
                  <elementRef key="summary" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="scribe" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </content>
            <exemplum>
              <p>The following example, from AA771NBKM.xml, contains information about two
                scribes.</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples"><scribeDesc>
              <scribe n="1">
                <locusGrp>
                  <locus>ff. 27–30</locus>
                  <locus>ff. 48–50</locus>
                  <locus>f. 54</locus>
                  <locus>ff. 61–62</locus>
                </locusGrp>
                <name>anonymous</name>
                <scriptDesc>
                  <scriptNote  script="cyrs" type="semiuncial"/>
                </scriptDesc>
                <scribeLang>
                  <summary>Two nasal vowels and two jers</summary>
                </scribeLang>
                <respStmt>
                  <name>Adelina Angusheva</name>
                  <resp>de visu</resp>
                </respStmt>
              </scribe>
              <scribe n="2">
                <locusGrp>
                  <locus>ff. 6–16</locus>
                  <locus>ff. 18–21</locus>
                  <locus>ff. 33–34</locus>
                  <locus>ff. 38–42</locus>
                  <locus>ff. 44–45</locus>
                  <locus>ff. 51</locus>
                  <locus>ff. 53</locus>
                  <locus>ff. 71</locus>
                  <locus>ff. 78</locus>
                  <locus>ff. 91–92</locus>
                  <locus>f. 109</locus>
                  <locus>f. 131</locus>
                </locusGrp>
                <name>anonymous</name>
                <scriptDesc>
                  <scriptNote  script="Cyrs" type="semiuncial"/>
                </scriptDesc>
                <respStmt>
                  <name>Adelina Angusheva</name>
                  <resp>de visu</resp>
                </respStmt>
              </scribe>
            </scribeDesc>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="scribeLang" ns="http://www.ilit.bas.bg/repertorium/ns/3.0" mode="add">
            <desc>contains a description of the orthography and language of the scribe</desc>
            <classes mode="change">
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
                <sequence>
                  <elementRef key="summary" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="langNote" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </content>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <scribeLang><summary>Middle Bulgarian with Russian features</summary>
                  <langNote key="orthography" type="jer" subtype="front">only <c xml:lang="cu">ь</c></langNote>
                  <langNote key="orthography" type="jus" subtype="nonConsis"><c xml:lang="cu">ѫ</c> replaced by <c xml:lang="cu">оу</c>; <c xml:lang="cu">ѧ</c> replaced by <c xml:lang="cu">a</c>;</langNote>
                  <langNote key="orthography" type="otherLetters"><c xml:lang="cu">ы</c>; <c xml:lang="cu">ѥ</c> and <c xml:lang="cu">ѩ</c></langNote> … 
                </scribeLang></egXML>
            </exemplum>
            <remarks>
              <p>The <gi>scribeLang</gi> element contains a formal description of the language of a
                scribe, expressed in the <gi>langNote</gi> child element.</p>
            </remarks>
          </elementSpec>

          <elementSpec ident="scriptDesc" mode="change" module="msdescription">
            <content>
                <sequence>
                  <elementRef key="summary" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="scriptNote" minOccurs="1" maxOccurs="unbounded"/>
                  <elementRef key="musicNotation" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="crypto" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </content>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <scriptDesc>
                <summary>Contains two distinct styles of scripts </summary>
                <scriptNote xml:id="style-1">.</scriptNote>
                <scriptNote xml:id="style-2">.</scriptNote>
              </scriptDesc>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium adds the optional attribute <att>script</att>, the values of which
                shoul∏d come from codes of ISO 15924:2004, cf. <ptr
                  target="https://en.wikipedia.org/wiki/ISO_15924"/>. In the content of this
                element, <gi>musicNotation</gi> is moved here from <gi>physDesc</gi> and a new
                  <gi>crypto</gi> Repertorium is added. An example from the file AA771NBKM.xml</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <scriptDesc>
                <scriptNote  script="cyrs" type="semiuncial">...</scriptNote>
              </scriptDesc>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="supportDesc" module="msdescription" mode="change">
            <content>
              <alternate>
                <classRef key="model.pLike" minOccurs="1" maxOccurs="unbounded"/>
                <sequence>
                  <elementRef key="support" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="extent" minOccurs="0" maxOccurs="1"/>
                  <elementRef key="foliation" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="pagination" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="collation" minOccurs="0" maxOccurs="unbounded"/>
                  <elementRef key="condition" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
              </alternate>
            </content>
            <exemplum>
              <p>TEI example:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <supportDesc>
                <support>Parchment roll with <material>silk</material>
                  ribbons.</support>
              </supportDesc>
            </egXML>
            </exemplum>
            <exemplum>
              <p>The Repertorium adds a new <gi>pagination</gi> element after <gi>foliation</gi>.
                The following example is from MP408G.xml:</p>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <supportDesc material="paper">
                <support>
                  <material>Paper</material>
                  <watermark>
                    <re:motif>Letter P</re:motif>
                    <ref type="bibl" target="bib:Mošin">
                      <num>5449</num>
                      <date>unknown</date>
                    </ref>
                  </watermark>
                  <watermark>
                    <re:motif>Clock</re:motif>
                    <ref type="bibl" target="bib:Mošin">
                      <num>3002</num>
                      <date>unknown</date>
                    </ref>
                  </watermark>
                  <watermark>
                    <re:motif>Hills</re:motif>
                    <ref type="bibl" target="bib:Mošin">
                      <num>6255</num>
                      <date>unknown</date>
                    </ref>
                  </watermark>
                </support>
                <extent>
                  <measure unit="folia">242</measure>
                  <dimensions unit="mm" type="folia">
                    <height>200</height>
                    <width>130</width>
                  </dimensions>
                </extent>
                <re:pagination>Not original, J. de Saint-Genois for every page =
                  474</re:pagination>
                <collation>
                  <summary>31 quires of 8 folia</summary>
                </collation>
                <condition>f. 5v-6, ff.101v-102, ff. 243-244 are
                  damaged</condition>
              </supportDesc>
            </egXML>
            </exemplum>
          </elementSpec>

          <elementSpec ident="watermark" module="msdescription" mode="change">
            <content>
              <alternate minOccurs="1" maxOccurs="unbounded">
                <textNode/>
                <classRef key="model.phrase"/>
                <elementRef key="motif"/>
                <elementRef key="countermark"/>
              </alternate>
            </content>
            <attList>
              <attDef ident="recording">
                <desc>Describes the methods of recording of some watermark. Methods include:
                  hand-tracing, rubbing, etc.</desc>
                <datatype>
                  <dataRef key="teidata.word"/>
                </datatype>
              </attDef>
            </attList>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <watermark recording="hand-tracing"><motif type="basic">Leo</motif>within
                <motif type="supplemental">circle</motif> surmounted by
                <motif type="secondary">quatrefoil</motif> and with
                <countermark>“AP”</countermark> similar to <ref type="bibl" target="bib:Николаев1954">Nikolaev #125</ref> from the year
                <date cert="yes">1585</date>. </watermark>
            </egXML>
            </exemplum>
            <remarks>
              <p>The content of this element includes phrase level elements, as well as specialized
                elements like <gi>motif</gi> and <gi>countermark</gi>. There are several special
                attributes for the content of this element. <att>recording</att> is used to describe
                very briefly (with one word) the method of watermark tracing. The most usual method
                is still drawing by hand, but there could be other possibilities, such as rubbing by
                hand, usage of special Dylux print paper, beta- or x-radiography, scanning, etc. The
                  <att>place</att> attribute from the class <ident>att.placement</ident> can refine
                where on the pages the watermark can be seen, and may be described in relation to
                wire lines and chain (laid) lines.</p>
            </remarks>
          </elementSpec>

        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
