app/data/schema/genres.rnc

start = genres
genres = element genres { genre+ }
genre = element genre { type, bg, en, ru }
type = attribute type { "general" | "specific" }
bg =
    element bg {
        xsd:string { minLength = "1" }
    }
en =
    element en {
        xsd:string { minLength = "1" }
    }
ru =
    element ru {
        xsd:string { minLength = "1" }
    }
